@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&display=swap");

html {
  font-size: 16px;
  h1,
  h2,
  h3,
  h4 {
    font-family: $fuente-principal;
  }

  p,
  nav,
  label {
    font-family: $fuente-secundaria;
  }

  @media (max-width: 1300px) {
    font-size: 14px;
  }

  @media (max-width: $sm) {
    font-size: 14px;
  }
}
