/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212529;
  color: white;
}

.max-w {
  max-width: $max-width;
  margin: auto;
}

.opacity-50 {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

main.min-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main.mh-70 {
  min-height: 70vh;
}

/* para pisar Bootstrap */
/* ******************** */
p {
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #b30404;
  box-shadow: 0 0 0 0.2rem rgba(94, 24, 15, 0.452);
}
.btn-danger {
  background-color: #b30404;
  border-color: #b30404;
}
.was-validated #inputRepeatPassword:valid.is-invalid {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}
.was-validated #inputRepeatPassword:valid:focus.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}
