// Colores
$rojoMarca: #b30404;
$tonoClaro: #b9b8b8;
$tonoMedio: #545454;
$tonoOscuro: #212121;
$tonoMuyOscuro: #060606;

// Fuentes
$fuente-principal: "Montserrat", Helvetica, sans-serif;
$fuente-secundaria: "Roboto Condensed", Helvetica, sans-serif;

//otros
$max-width: 1460px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;

// Mapas
$grillaSocial: (
  1: "1 / 1 / 2 / 5",
  2: "2 / 1 / 3 / 2",
  3: "2 / 2 / 3 / 3",
  4: "2 / 3 / 3 / 4",
  5: "2 / 4 / 3 / 5"
);
