<html lang="es">

<head>
  <%- include("../partials/bootstrapHead.ejs")  %>
</head>

<body>
  <main class="listado">
    <%- include("../partials/productsTable.ejs")  %>
  </main>

  <%- include("../partials/bootstrapScripts.ejs")  %>
</body>

</html>