<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/HeadWithBootstrap.ejs")  %>
  <!-- Mi CSS -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark">
      <button aria-controls="navbar-categories" type="button" aria-label="Toggle navigation"
        class="navbar-toggler collapsed">
        <img src="/img/iconred.png" alt="Icono menú">
      </button>
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" height="80" class="d-inline-block align-top animate__flipInX"
          alt="Logo de Mamooth - Inicio">
      </a>
      <div class="navbar-collapse collapse" id="navbar-myAccount">
        <a href="/myaccount" class="nav-link">
          <img src="/img/cuenta.svg" alt="Mi cuenta">
          MI CUENTA
        </a>
      </div>
      <a href="/cart" class="cartWidget nav-link">
        <span class="itemsQuantity hidden">0</span>
        <img src="/img/icon_cart.svg" alt="Carrito">
      </a>
      <div class="navbar-collapse collapse" id="navbar-categories">
        <div class="m-auto animate__navbar-nav--loaded navbar-nav">
          <a class="nav-link" href="/productos/categoria/bicicletas"
            data-rb-event-key="alPuUe3glKMhF5LDqPPx">BICICLETAS</a>
          <a class="nav-link" href="/productos/categoria/componentes"
            data-rb-event-key="qVl1VQr85v3ELbe6JXYp">COMPONENTES</a>
          <a class="nav-link" href="/productos/categoria/accesorios"
            data-rb-event-key="RUCwOHdV6dsB8GUMr6Xt">ACCESORIOS</a>
          <a class="nav-link" href="/productos/categoria/equipamiento"
            data-rb-event-key="rljUAJkE8ErQeLLqO1EE">EQUIPAMIENTO</a>
          <a class="nav-link" href="/productos/categoria/indumentaria"
            data-rb-event-key="uYmH81rNnxjnIBJICee6">INDUMENTARIA</a>
        </div>
      </div>
    </nav>
  </header>
  <main class="productos">

    <div id="carouselHome" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselHome" data-bs-slide-to="3" aria-label="Slide 4"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active"><img class="d-block w-100" src="/img/Carousel1.jpeg" alt="First slide">
          <div class="carousel-caption">
            <h3>Ciclismo es aire libre</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" src="/img/Carousel2.jpeg" alt="Second slide">
          <div class="carousel-caption">
            <h3>Ciclismo es compartir</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" src="/img/Carousel3.jpeg" alt="Third slide">
          <div class="carousel-caption">
            <h3>Ciclismo es adrenalina</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
        <div class="carousel-item"><img class="d-block w-100" src="/img/Carousel4.jpeg" alt="First slide">
          <div class="carousel-caption">
            <h3>Ciclismo es dedicación</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="brands">
      <a href="https://www.specialized.com/ar/es" target="_blank" rel="noreferrer">
        <img src="/img/logo_Specialized.png" alt="Specialized">
      </a>
      <a href="https://www.orbea.com/ar-es/" target="_blank" rel="noreferrer">
        <img src="/img/logo_Orbea.png" alt="Orbea">
      </a>
      <a href="https://www.scott-sports.com/ar/es" target="_blank" rel="noreferrer">
        <img src="/img/logo_Scott.png" alt="Scott">
      </a>
      <a href="https://www.giant-bicycles.com/es" target="_blank" rel="noreferrer">
        <img src="/img/logo_Giant.png" alt="Giant">
      </a>
      <a href="https://www.cube.eu/es/cube-bikes/" target="_blank" rel="noreferrer">
        <img src="/img/logo_Cube.png" alt="Cube">
      </a>
      <a href="https://www.cannondale.com/es-es" target="_blank" rel="noreferrer">
        <img src="/img/logo_Cannondale.png" alt="Cannondale">
      </a>
      <a href="https://www.merida-bikes.com/es-es" target="_blank" rel="noreferrer">
        <img src="/img/logo_Merida.png" alt="Merida">
      </a>
    </div>







    <div class="container-xl">
      <h2 class="text-center py-4">CATALOGO DE PRODUCTOS</h2>

      <!---------------------- Show Room - Inicio ------------------------>
      <div class="row mx-0 mr-sm-n3 showRoom">

        <!---------------------- Columna filtros - Inicio ------------------------>
        <div id="filtros" class="col-sm-3 col-xl-2 mb-4">
          <h3>Filtros <span><img src="./img/filtros.png" alt=""></span></h3>
          <div id="contenedorFiltros">
            <div id="cantProductosEncontrados">() producto/s</div>

            <button type="button" id="filtroBuscar" class="btn btn-sm btn-outline-secondary ocultar mb-2">BUSQUEDA
              <span>[&times;]</span>
            </button>

            <div class="row">
              <div class="col-sm-12">
                <h4>Categorías</h4>
                <div class="form-check mb-2 seleccionado">
                  <input class="form-check-input" type="radio" name="categoria" id="catTodas" value="todas" checked>
                  <label class="form-check-label" for="catTodas">
                    TODAS
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoria" id="catBicicletas" value="bicicletas">
                  <label class="form-check-label" for="catBicicletas">
                    Bicicletas
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoria" id="catComponentes" value="componentes">
                  <label class="form-check-label" for="catComponentes">
                    Componentes
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoria" id="catAccesorios" value="accesorios">
                  <label class="form-check-label" for="catAccesorios">
                    Accesorios
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="categoria" id="catEquipamiento"
                    value="equipamiento">
                  <label class="form-check-label" for="catEquipamiento">
                    Equipamiento
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input class="form-check-input" type="radio" name="categoria" id="catIndumentaria"
                    value="indumentaria">
                  <label class="form-check-label" for="catIndumentaria">
                    Indumentaria
                  </label>
                </div>
                <button type="button" id="verMarcas" class="btn btn-sm btn-danger mb-3">MARCAS<i
                    class="fa fa-toggle-off"></i></button>
                <div class="form-group">
                  <label for="inputPrecioMin">Precio Mínimo $</label>
                  <input type="range" class="form-control-range w-100" id="rangoPrecioMin" min="0" max="100" step=".5">
                  <input type="text" id="inputPrecioMin" class="form-control form-control-sm text-center"
                    placeholder="$ Min" disabled>
                </div>
                <div class="form-group">
                  <label for="inputPrecioMax">Precio Máximo $</label>
                  <input type="range" class="form-control-range w-100" id="rangoPrecioMax" min="0" max="100" step=".5">
                  <input type="text" id="inputPrecioMax" class="form-control form-control-sm text-center"
                    placeholder="$ Máx" disabled>
                </div>
              </div>
            </div>
            <div id="marcas">
              <button type="button" id="volverMarcas" class="btn btn-sm btn-danger mb-3">Volver</button>
              <div id="contenedorMarcas"></div>
            </div>
          </div>
        </div>
        <!---------------------- Columna filtros - Fin ------------------------>

        <!---------------------- Columna Productos - inicio ------------------------>
        <div class="col-sm-9 col-xl-10 colProductos">

          <!---------------------- Zona buscar / ordenar ------------------------>
          <div class="col-12 mb-3 buscarOrdenar">
            <div class="row">
              <div class="col-6 g-0">
                <input type="search" id="inputBuscar" class="form-control mr-0"
                  placeholder="Descripción, marca, tipo, ..." aria-label="Search" name="buscar">
              </div>
              <div class="col-1 g-0">
                <button id="btnBuscar" class="btn btn-dark my-sm-0"><img src="./img/icon_search_w.png" alt=""></button>
              </div>
              <div class="col-5">
                <select id="selectOrdenar" class="form-select ml-auto" name="orden">
                  <option value="a">Marca A-Z</option>
                  <option value="z">Marca Z-A</option>
                  <option value="-">Menor precio</option>
                  <option value="+">Mayor precio</option>
                </select>
              </div>
            </div>
          </div>


          <!---------------------- Contenedor de tarjeta productos ------------------------>
          <div id="contenedorProductos" class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="loader">Cargando ...</div>
          </div>
        </div>
        <!---------------------- Columna Productos - Fin ------------------------>

      </div>
    </div>
    <!---------------------- Show Room - Fin ------------------------>

  </main>
  <!-- jQuery y Bootstrap JS -->
  <%- include("../partials/jQueryScripts.ejs")  %>
  <%- include("../partials/bootstrapScripts.ejs")  %>
  <!-- Mi JS -->
  <script src="/js/productos.js"></script>
</body>

</html>