<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/logo_M.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Login de usuario</title>
</head>

<body>
  <header class="not-logged">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" height="80" class="d-inline-block align-top animate__flipInX"
          alt="Logo de Mamooth - Inicio">
      </a>
      <div class="navbar-collapse collapse" id="navbar-categories">
        <div class="m-auto animate__navbar-nav--loaded navbar-nav">
          <span class="nav-link">BICICLETAS</span>
          <span class="nav-link">COMPONENTES</span>
          <span class="nav-link">ACCESORIOS</span>
          <span class="nav-link">EQUIPAMIENTO</span>
          <span class="nav-link">INDUMENTARIA</span>
        </div>
      </div>
    </nav>
  </header>

  <main class="min-height mh-70">
    <div class="auth-form-wrapper">
      <h2 class="text-center">LOGIN DE USUARIO</h2>
      <p class="text-center">Ingresa tus datos para acceder al sitio</p>
      <form action="/login" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for=" inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="username" maxlength="50"
            placeholder="Ingrese su email" required>
          <div class="invalid-feedback">
            Introduce una dirección de email correcta
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" minlength="8"
            placeholder="Ingrese una contraseña" required>
          <div class="invalid-feedback">
            Debe tener al menos 8 caractéres
          </div>
        </div>
        <button type="submit" id="btn-login" class="btn btn-danger mt-4">INGRESAR</button>
      </form>
      <a href="/auth/google" class="btn btn-light btn-google">
        <img src="/img/google.svg" alt="Google">
        Acceder con Google
      </a>
    </div>
    <a href="/register" class="btn btn-secondary btn-redirect">Ir a Registrarse</a>
  </main>

  <footer>
    <div class="contenidoFooter">

      <!---------- Sección info -------------->
      <section class="info">
        <p>Vive la bici con Mammoth.</p>
        <p>Mucho más que tu tienda de bicis.</p>
        <p>Lunes a viernes de 9hs a 19hs.</p>
        <p>Sábados de 9hs a 14hs.</p>
      </section>

      <div class="logo"><img src="/img/logo_M.png" alt="logo"></div>

      <!---------- Sección Social -------------->
      <section class="social">
        <div class="social__titulo">SOCIAL</div>
        <a href="#"><img src="/img/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/img/instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/img/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/img/youtube.svg" alt="YouTube"></a>
      </section>


    </div>

    <!---------- Sección de datos del desarrollador  -------------->
    <address>
      <!--Etiqueta para datos personales-->
      <p class="font-italic">Copyright &copy; 2022 SerE PreC </p>
    </address>

  </footer>

  <script src="/js/login.js"></script>
</body>

</html>