<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/img/logo_M.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
  <title>Registro de usuario</title>
</head>

<body>
  <header class="not-logged">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" height="80" class="d-inline-block align-top animate__flipInX"
          alt="Logo de Mamooth - Inicio">
      </a>
      <div class="navbar-collapse collapse" id="navbar-categories">
        <div class="m-auto animate__navbar-nav--loaded navbar-nav">
          <span class="nav-link">BICICLETAS</span>
          <span class="nav-link">COMPONENTES</span>
          <span class="nav-link">ACCESORIOS</span>
          <span class="nav-link">EQUIPAMIENTO</span>
          <span class="nav-link">INDUMENTARIA</span>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="auth-form-wrapper">
      <h2 class="text-center">REGISTRO DE USUARIO</h2>
      <p class="text-center">Ingresa los siguientes datos para registrarte</p>
      <form action="/register" enctype="multipart/form-data" method="POST" class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="inputName" class="form-label">Nombre y Apellido</label>
          <input type="text" class="form-control" id="inputName" name="name" maxlength="50"
            placeholder="Ingresa tu nombre y apellido" required>
          <div class="invalid-feedback">
            Introduce tu nombre
          </div>
        </div>
        <div class="mb-3">
          <label for="inputFile" class="form-label">Avatar</label>
          <input type="file" class="form-control" id="inputFile" name="imageFile">
        </div>
        <div class="mb-3">
          <label for="inputAddress" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="inputAddress" name="address" maxlength="80"
            placeholder="Ingresa tu dirección COMPLETA" required>
          <div class="invalid-feedback">
            Introduce una dirección
          </div>
        </div>
        <div class="mb-3">
          <label for="inputAge" class="form-label">Edad</label>
          <input type="number" class="form-control" id="inputAge" name="age" min="18" max="120" maxlength="3"
            placeholder="Ingresa tu edad" required>
          <div class="invalid-feedback">
            Debes ser mayor de 18 años para registrate
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPhone" class="form-label">Celular</label>
          <input type="tel" class="form-control" id="inputPhone" name="phone" maxlength="20"
            placeholder="Ej: +5491231234567" pattern="[+][0-9]{8,20}" required>
          <div class="invalid-feedback">
            Introduce un número con el formato del ejemplo
          </div>
        </div>
        <div class="mb-3">
          <label for=" inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" name="username" maxlength="50"
            placeholder="Ingrese su email" required>
          <div class="invalid-feedback">
            Introduce una dirección de email correcta
          </div>
        </div>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" minlength="8" maxlength="50"
            placeholder="Ingrese una contraseña" required>
          <div class="invalid-feedback">
            Debe tener al menos 8 caractéres
          </div>
        </div>
        <div class="mb-3">
          <label for="inputRepeatPassword" class="form-label">Repetir password</label>
          <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Repita la contraseña"
            required>
          <div class="invalid-feedback">
            No coincide con la contraseña anterior
          </div>
        </div>
        <button type="submit" class="btn btn-danger mt-4">REGISTRARSE</button>
      </form>
    </div>
    <a href="/login" class="btn btn-secondary btn-redirect">Ir a Loguearse</a>
  </main>

  <footer>
    <div class="contenidoFooter">

      <!---------- Sección info -------------->
      <section class="info">
        <p>Vive la bici con Mammoth.</p>
        <p>Mucho más que tu tienda de bicis.</p>
        <p>Lunes a viernes de 9hs a 19hs.</p>
        <p>Sábados de 9hs a 14hs.</p>
      </section>

      <div class="logo"><img src="/img/logo_M.png" alt="logo"></div>

      <!---------- Sección Social -------------->
      <section class="social">
        <div class="social__titulo">SOCIAL</div>
        <a href="#"><img src="/img/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/img/instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/img/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/img/youtube.svg" alt="YouTube"></a>
      </section>


    </div>

    <!---------- Sección de datos del desarrollador  -------------->
    <address>
      <!--Etiqueta para datos personales-->
      <p class="font-italic">Copyright &copy; 2022 SerE PreC </p>
    </address>

  </footer>

  <script src="/js/register.js"></script>
</body>

</html>