@charset "UTF-8";
/***************************************************************/
/******************** Place Holders - Inicio  ******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&display=swap");
.newsletter .newsletter__titulo, .social .social__titulo {
  background-color: #545454;
  color: white; }

.newsletter .newsletter__titulo, .social .social__titulo {
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .25rem;
  width: 90%;
  height: auto;
  text-transform: uppercase;
  border-radius: .25rem;
  margin: 0 auto 1rem auto; }

.newsletter form .input-group input[type="submit"] {
  width: 8vw;
  min-width: 7rem;
  height: 2rem;
  background-color: #b30404;
  color: white;
  border: none;
  border-radius: .25rem;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: .07rem; }

#modalTerminos .modal-content .modal-body .imagenTerminos {
  background-size: cover;
  background-repeat: no-repeat; }

main.productos {
  background-color: #b9b8b8;
  background: linear-gradient(180deg, #b9b8b8 0%, rgba(84, 84, 84, 0.75) 100%); }
  main.productos h2 {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 800; }
  main.productos h3 {
    font-size: 1.5rem; }
  main.productos h4 {
    font-size: 1.2rem; }

/********************* Place Holders - Fin  ********************/
/***************************************************************/
/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*************** Asignacion general de fuentes ****************/
html {
  font-size: 16px; }
  html h1,
  html h2,
  html h3,
  html h4 {
    font-family: "Montserrat", Helvetica, sans-serif; }
  html p,
  html nav,
  html label {
    font-family: "Roboto Condensed", Helvetica, sans-serif; }
  @media only screen and (max-width: 1300px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 575px) {
    html {
      font-size: 12px; } }

/************** Propiedades generales de textos ****************/
main h2 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 800; }

main h3 {
  font-size: 1.5rem; }

main h4 {
  font-size: 1.2rem; }

p {
  margin-bottom: 0; }

.form-control:focus {
  border-color: #b30404;
  box-shadow: 0 0 0 0.2rem rgba(94, 24, 15, 0.452); }

/***************************************************************/
/************************ Header - Inicio **********************/
header {
  background: #b9b8b8;
  position: sticky;
  top: 0;
  z-index: 1020;
  box-shadow: 2px 2px 20px 10px rgba(6, 6, 6, 0.4);
  background: linear-gradient(90deg, #212121 0%, #545454 75%, #b9b8b8 100%);
  font-size: 1.4rem; }
  header .usuario {
    padding: .5rem 1rem .5rem .5rem;
    background-color: #212121;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative; }
    header .usuario > div {
      flex: 0 1 22rem; }
    header .usuario .logUsuario .input-group .btn {
      background-color: #b30404;
      color: white; }
      header .usuario .logUsuario .input-group .btn:hover {
        background-color: #d11212; }
    header .usuario .logUsuario .input-group input[disabled] {
      background-color: white;
      font-weight: 700;
      font-style: italic; }
    header .usuario .logUsuario #errorInputUsuario {
      display: none;
      color: #c93737;
      padding-top: 0.2rem;
      margin-bottom: -.5rem;
      font-size: .85rem;
      text-align: left; }
    header .usuario .mensajesEmergentes {
      position: absolute;
      display: none;
      width: 50%;
      max-width: 400px;
      min-height: 7rem;
      background-color: #435541c0;
      right: 0;
      top: 100%;
      margin-right: 1rem;
      padding: 1rem;
      border-radius: .5rem;
      color: white;
      text-shadow: #212121 1px 1px;
      font-size: 1.25rem;
      text-align: center;
      justify-content: center;
      align-items: center;
      opacity: 0;
      z-index: 1000; }
      header .usuario .mensajesEmergentes.show {
        opacity: 1;
        display: flex;
        animation-name: emerge;
        animation-duration: 1s;
        animation-timing-function: ease-out; }
        header .usuario .mensajesEmergentes.show.destacado {
          background-color: #b30404b0; }
      header .usuario .mensajesEmergentes button.close {
        position: absolute;
        top: 0;
        right: .5rem;
        outline: none;
        color: white;
        opacity: 1; }

/*** Fotogramas de animación emerge ***/
@keyframes emerge {
  0% {
    top: -150%;
    opacity: 0; }
  50% {
    top: 100%;
    opacity: 0.5; }
  100% {
    opacity: 1; } }

/************************** Header - Fin ***********************/
/***************************************************************/
/***************************************************************/
/***************** Main de productos.html - Inicio *************/
main.productos {
  overflow: hidden; }
  main.productos nav {
    position: relative; }
    main.productos nav .breadcrumb {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 600;
      padding: 0.5rem 1rem; }
      main.productos nav .breadcrumb li {
        color: #545454; }
        main.productos nav .breadcrumb li a {
          color: #b30404;
          font-weight: 500; }
    main.productos nav div {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: .5rem;
      right: 1.25rem;
      font-weight: 500;
      background-color: white;
      padding-right: 1rem;
      padding-left: .25rem;
      border-radius: .25rem;
      min-width: 8.5rem; }
      main.productos nav div img {
        width: 1rem;
        margin: 0 .5rem; }
    @media only screen and (max-width: 575px) {
      main.productos nav div {
        padding-right: .5rem; } }
  main.productos #filtros {
    background-color: #e9ecef;
    border-radius: .25rem;
    padding: .5rem 1rem; }
    main.productos #filtros h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      main.productos #filtros h3 span {
        padding-left: 1rem; }
    main.productos #filtros #cantProductosEncontrados {
      margin-bottom: .5rem;
      text-align: center;
      font-weight: 300;
      border: 1px solid #545454;
      border-radius: .25rem;
      background-color: #545454;
      color: white; }
    main.productos #filtros h4 {
      text-align: center;
      font-size: 1.1rem; }
    main.productos #filtros .btn {
      display: block;
      width: 100%;
      margin: auto; }
      main.productos #filtros .btn.ocultar {
        display: none; }
    main.productos #filtros #verMarcas,
    main.productos #filtros #volverMarcas {
      background-color: #b30404; }
      main.productos #filtros #verMarcas i,
      main.productos #filtros #volverMarcas i {
        font-size: 1.15rem;
        margin-left: .5rem;
        vertical-align: text-bottom; }
    main.productos #filtros .row label {
      font-weight: 500; }
    main.productos #filtros .row .form-check {
      transition: all .4s; }
      main.productos #filtros .row .form-check label {
        width: 100%;
        padding-left: .25rem; }
      main.productos #filtros .row .form-check.seleccionado {
        background-color: #b30404a3;
        color: white;
        border-radius: .25rem;
        padding-left: 2rem; }
      main.productos #filtros .row .form-check:not(.seleccionado):not(:nth-of-type(7)):hover {
        padding-left: 2rem;
        color: #b30404; }
    main.productos #filtros .row .form-group {
      text-align: center; }
      main.productos #filtros .row .form-group label {
        margin-bottom: 0; }
      main.productos #filtros .row .form-group input[type=text] {
        height: 1.7rem;
        max-width: 8rem;
        margin: auto;
        background-color: #545454;
        color: white; }
    main.productos #filtros #marcas {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem .5rem;
      background-color: #545454;
      color: white;
      font-size: .9rem;
      height: 100%;
      width: 100%;
      border-radius: .25rem;
      border: 3px solid #545454;
      z-index: 1000;
      display: none;
      overflow-y: auto; }
      main.productos #filtros #marcas .form-check {
        margin-bottom: .5rem; }
        main.productos #filtros #marcas .form-check label {
          vertical-align: middle; }
    @media only screen and (max-width: 575px) {
      main.productos #filtros h3 {
        cursor: pointer; }
      main.productos #filtros #contenedorFiltros {
        display: none; }
        main.productos #filtros #contenedorFiltros .form-check {
          width: 70%;
          margin: auto; }
          main.productos #filtros #contenedorFiltros .form-check label {
            padding-left: .5rem; }
        main.productos #filtros #contenedorFiltros .btn {
          width: 70%; }
      main.productos #filtros #marcas .form-check {
        margin-bottom: .5rem; }
        main.productos #filtros #marcas .form-check label {
          vertical-align: sub; } }

/******************* Main de productos.html - Fin **************/
/***************************************************************/
/***************************************************************/
/************************ ShowRoom - Inicio ********************/
.colProductos .buscarOrdenar {
  background-color: #e9ecef;
  border-radius: .25rem;
  padding: .5rem 1rem; }
  .colProductos .buscarOrdenar .form-inline #inputBuscar {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .colProductos .buscarOrdenar .form-inline #btnBuscar {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
    .colProductos .buscarOrdenar .form-inline #btnBuscar img {
      width: 1.1rem; }
  .colProductos .buscarOrdenar .form-inline #selectOrdenar {
    width: 25%; }
    @media only screen and (max-width: 767px) {
      .colProductos .buscarOrdenar .form-inline #selectOrdenar {
        width: 35%; } }

.colProductos #contenedorProductos {
  max-height: 75vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #e9ecef;
  margin: 1rem 0 1.5rem 0;
  padding-top: .5rem;
  border: 3px solid #e9ecef;
  border-radius: .25rem;
  min-height: 33rem; }
  .colProductos #contenedorProductos .loader {
    height: 33rem;
    background-image: url("../img/puff.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 1.5rem 0;
    padding: 2rem;
    text-align: center;
    margin: auto;
    flex: 0 0 80%;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem; }
    .colProductos #contenedorProductos .loader h3 {
      width: 100%;
      margin-bottom: 2rem; }
    .colProductos #contenedorProductos .loader p {
      font-size: 1.25rem;
      width: 100%;
      margin-bottom: .5rem; }
  .colProductos #contenedorProductos .card .descuento {
    position: absolute;
    width: 3.5rem;
    height: 3rem;
    top: 0;
    right: 0;
    background-color: #b30404;
    border-radius: 40% 0% 40% 0%;
    color: white;
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; }
  .colProductos #contenedorProductos .card .card-img-top {
    width: 70%;
    margin: auto; }
  .colProductos #contenedorProductos .card .card-body p:nth-of-type(1) {
    padding-bottom: 6.25rem; }
  .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) {
    position: absolute;
    bottom: 5rem; }
    .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) b {
      font-size: 1.1rem;
      color: #b30404; }
    .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) del {
      color: #545454;
      margin-left: .1rem;
      font-size: 0.95rem; }
  .colProductos #contenedorProductos .card .card-body p:nth-of-type(3) {
    position: absolute;
    width: 100%;
    bottom: 3.5rem; }
  .colProductos #contenedorProductos .card .card-body > *:last-child {
    position: absolute;
    width: 100%;
    bottom: 1.25rem; }
  .colProductos #contenedorProductos .card .btn {
    background-color: #b30404;
    color: white;
    font-weight: 500;
    transition: all .3s; }
    .colProductos #contenedorProductos .card .btn:hover:not([disabled]) {
      background-color: #d11212;
      transform: scale(1.04, 1.04); }
    .colProductos #contenedorProductos .card .btn[disabled] {
      width: 88%;
      left: 6%;
      right: 6%;
      background-color: #545454;
      border-color: #545454; }
  .colProductos #contenedorProductos .card .inputCantidad {
    width: 40%;
    max-width: 4.5rem; }
  .colProductos #contenedorProductos .errorResultadoBuscar {
    background-color: #e9ecef;
    border-radius: .25rem;
    margin: 1.5rem 0;
    text-align: center;
    margin: auto;
    flex: 0 0 80%;
    max-width: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center; }
    .colProductos #contenedorProductos .errorResultadoBuscar i {
      color: red;
      display: block;
      margin-bottom: 1rem; }
    .colProductos #contenedorProductos .errorResultadoBuscar i, .colProductos #contenedorProductos .errorResultadoBuscar h3, .colProductos #contenedorProductos .errorResultadoBuscar p {
      width: 100%; }

@media only screen and (max-width: 575px) {
  .colProductos {
    padding-left: 0;
    padding-right: 0; }
    .colProductos #contenedorProductos {
      margin-left: 1rem;
      margin-right: 1rem; } }

/************************** ShowRoom - Fin **********************/
/***************************************************************/
/***************************************************************/
/****************** Main de compra.html - Inicio ***************/
main.compra {
  overflow: hidden;
  background-color: #b9b8b8;
  background: linear-gradient(180deg, #b9b8b8 0%, rgba(84, 84, 84, 0.75) 100%); }
  main.compra .breadcrumb {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem; }
    main.compra .breadcrumb li {
      color: #545454; }
      main.compra .breadcrumb li a {
        color: #b30404;
        font-weight: 500; }
  main.compra #checkOutCompra .resumenCompra {
    background-color: #e9ecef;
    border-radius: .25rem; }
    main.compra #checkOutCompra .resumenCompra h3 {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem; }
    main.compra #checkOutCompra .resumenCompra .table tr {
      opacity: 0; }
      main.compra #checkOutCompra .resumenCompra .table tr td {
        background-color: white;
        padding: .25rem;
        vertical-align: middle; }
        main.compra #checkOutCompra .resumenCompra .table tr td:nth-child(1) {
          width: 22%; }
        main.compra #checkOutCompra .resumenCompra .table tr td:nth-child(2) {
          width: 50%; }
        main.compra #checkOutCompra .resumenCompra .table tr td:nth-child(3) {
          width: 10%; }
        main.compra #checkOutCompra .resumenCompra .table tr td:nth-child(4) {
          width: 18%; }
    main.compra #checkOutCompra .resumenCompra .importe {
      padding: 1rem;
      font-weight: 700; }
      main.compra #checkOutCompra .resumenCompra .importe p {
        display: none;
        text-align: right;
        font-size: 1.4rem;
        margin-top: 1rem; }
  main.compra #checkOutCompra form div.col-sm-12 {
    margin-bottom: 5px; }
  main.compra #checkOutCompra form label {
    font-weight: bold; }
  main.compra #checkOutCompra form fieldset legend {
    font-weight: bold;
    font-size: 1.2rem; }
  main.compra #checkOutCompra form fieldset:nth-of-type(1) {
    background: linear-gradient(134deg, #212121 15%, #545454 50%, #b9b8b8 100%);
    padding: 1rem 1rem;
    border-radius: 1rem;
    width: 80%;
    margin: auto; }
    main.compra #checkOutCompra form fieldset:nth-of-type(1) legend {
      margin-left: 1rem;
      background-color: #b3040494;
      width: 11rem;
      color: white;
      border-radius: .25rem;
      padding: .5rem;
      font-weight: 500;
      font-size: 1rem;
      display: flex;
      justify-content: center; }
    main.compra #checkOutCompra form fieldset:nth-of-type(1) label {
      font-weight: 500;
      color: white; }
  main.compra #checkOutCompra form #contenedorCuotas label span {
    font-weight: bold;
    padding-right: 1rem;
    padding-left: .25rem; }
  main.compra #checkOutCompra form #contenedorCuotas label i {
    white-space: nowrap; }
  main.compra #checkOutCompra form #btnAceptaCompra {
    background-color: #b30404; }
    main.compra #checkOutCompra form #btnAceptaCompra:hover {
      background-color: #d11212; }
  main.compra #detalleCompra {
    opacity: 0; }
    main.compra #detalleCompra > h2 {
      color: white;
      text-shadow: 2px 2px #545454; }
    main.compra #detalleCompra > h4 {
      margin-top: 2rem; }
    main.compra #detalleCompra .table tbody {
      background-color: white; }
      main.compra #detalleCompra .table tbody th,
      main.compra #detalleCompra .table tbody td {
        vertical-align: middle; }
      main.compra #detalleCompra .table tbody th {
        width: 5%; }
      main.compra #detalleCompra .table tbody td:nth-child(2) {
        width: 15%; }
      main.compra #detalleCompra .table tbody td:nth-child(3) {
        width: 55%; }
      main.compra #detalleCompra .table tbody td:nth-child(4) {
        width: 15%; }
      main.compra #detalleCompra .table tbody td:nth-child(5) {
        width: 20%; }
      main.compra #detalleCompra .table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 10px; }
      main.compra #detalleCompra .table tbody tr:last-child td:last-child {
        border-bottom-right-radius: .75rem; }
    main.compra #detalleCompra .table thead th {
      border: none; }
    main.compra #detalleCompra .table thead th:first-child {
      border-top-left-radius: 10px; }
    main.compra #detalleCompra .table thead th:last-child {
      border-top-right-radius: 10px;
      text-align: right; }
    main.compra #detalleCompra .formaPago {
      width: 50%;
      margin-right: 0;
      margin-left: auto;
      background-color: white;
      padding: 1rem;
      border-radius: .75rem;
      font-weight: 700; }
      main.compra #detalleCompra .formaPago p {
        text-align: right;
        font-size: 1.2rem; }
        main.compra #detalleCompra .formaPago p:last-child {
          font-size: 1.4rem;
          margin-top: 1rem; }
    main.compra #detalleCompra .leyenda {
      text-align: right;
      padding: .5rem 1rem;
      margin-bottom: 2rem; }
  @media only screen and (max-width: 1300px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) {
      width: 70%; } }
  @media only screen and (max-width: 1000px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) {
      width: 85%; } }
  @media only screen and (max-width: 850px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) {
      width: 75%; } }
  @media only screen and (max-width: 575px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) label {
      font-size: .9rem; }
    main.compra #checkOutCompra form fieldset:nth-of-type(1) input {
      font-size: .75rem; }
    main.compra #detalleCompra .table tbody td:nth-child(2) {
      padding: 0; }
    main.compra #detalleCompra .formaPago {
      width: 65%; } }
  @media only screen and (max-width: 500px) {
    main.compra #checkOutCompra form fieldset:nth-of-type(1) {
      width: 100%;
      padding: .5rem; }
    main.compra #checkOutCompra form #contenedorCuotas label span {
      padding-right: .5rem; }
    main.compra #detalleCompra > h2 {
      font-size: 1.5rem; }
    main.compra #detalleCompra .table thead th {
      text-align: center;
      font-size: .8rem;
      padding-left: 0;
      padding-right: 0; }
      main.compra #detalleCompra .table thead th:last-child {
        text-align: center; }
    main.compra #detalleCompra .table tbody td:nth-of-type(2) {
      padding-right: 0; } }

/******************** Main de compra.html - Fin ****************/
/***************************************************************/
/***************************************************************/
/************************ Footer - Inicio  *********************/
/********************* Flexbox anidados row ********************/
footer .contenidoFooter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #212121;
  color: white;
  height: auto;
  text-align: center;
  padding: 1.5rem 0 1rem 0; }
  footer .contenidoFooter .info {
    overflow: hidden;
    width: 25%;
    padding: 1em 3vw; }
    footer .contenidoFooter .info p:nth-child(2) {
      padding-bottom: 1rem; }

footer address {
  background-color: #060606;
  text-align: center;
  color: white;
  padding: 1.5rem 0.625rem;
  margin-bottom: 0;
  /* para pisar a Bootstrap */ }

@media only screen and (max-width: 991px) {
  footer .contenidoFooter {
    flex-wrap: wrap; }
    footer .contenidoFooter .info {
      width: 50%; } }

@media only screen and (max-width: 575px) {
  footer .contenidoFooter .info {
    width: 100%;
    padding-top: 0; }
    footer .contenidoFooter .info p:nth-child(1),
    footer .contenidoFooter .info p:nth-child(2) {
      display: none; } }

/************************ Footer - Fin  ************************/
/***************************************************************/
/********** Menu de navegacion horizontal con Bootstrap *******/
/************ para pisar a Bootstrap y personalizar ***********/
nav.navbar {
  padding: 0 0.5rem; }
  nav.navbar .navbar-toggler {
    border-color: white; }
    nav.navbar .navbar-toggler .navbar-toggler-icon {
      background-image: url("../img/iconred.png");
      background-size: cover; }
    nav.navbar .navbar-toggler:focus {
      outline-color: black; }
  nav.navbar .navbar-nav .nav-item {
    padding-right: 2rem; }
    nav.navbar .navbar-nav .nav-item .nav-link {
      border-left: 3px solid #b30404;
      margin: 0 1.25vw 0 0;
      padding: 0 0.5rem;
      transition: all 0.5s; }
      nav.navbar .navbar-nav .nav-item .nav-link.activo {
        color: white;
        font-style: italic;
        border-radius: .4rem 0 0 0;
        border-width: 7px; }
    nav.navbar .navbar-nav .nav-item .dropdown-menu {
      width: 110%;
      background-color: rgba(84, 84, 84, 0.6); }
      nav.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
        color: rgba(255, 255, 255, 0.6);
        font-size: 1.1rem;
        transition: color .5s; }
        nav.navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
          background-color: rgba(179, 4, 4, 0.7);
          color: white; }
    nav.navbar .navbar-nav .nav-item:hover .nav-link {
      color: white;
      border-color: rgba(179, 4, 4, 0); }
    nav.navbar .navbar-nav .nav-item:hover:after {
      width: 100%; }
    nav.navbar .navbar-nav .nav-item:after {
      display: block;
      content: ' ';
      width: 0;
      height: 3px;
      background-image: linear-gradient(90deg, #b30404, rgba(179, 4, 4, 0));
      transition: all .4s ease; }
  nav.navbar .carritoIcon {
    position: relative;
    margin-right: 1rem; }
    nav.navbar .carritoIcon #numItems {
      position: absolute;
      top: -10px;
      left: 20px;
      background-color: red;
      width: 2rem;
      height: 1.5rem;
      border-radius: 50%;
      text-align: center;
      color: white;
      font-size: 1rem; }
  @media only screen and (max-width: 1220px) {
    nav.navbar .navbar-nav .nav-item {
      padding-right: 1rem; }
    nav.navbar .navbar-brand img {
      height: 70px; } }
  @media only screen and (max-width: 991px) {
    nav.navbar .navbar-nav .nav-item {
      padding-right: 0; }
    nav.navbar .navbar-brand img {
      height: 58px; } }
  @media only screen and (max-width: 850px) {
    nav.navbar .navbar-nav .nav-item {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 767px) {
    nav.navbar .navbar-brand {
      order: 2; }
    nav.navbar .navbar-toggler {
      order: 1; }
    nav.navbar .navbar-collapse {
      order: 4; }
    nav.navbar .carritoIcon {
      order: 3; }
    nav.navbar .navbar-nav .nav-item {
      font-size: 1.4rem; }
      nav.navbar .navbar-nav .nav-item .dropdown-menu {
        width: 100%; }
      nav.navbar .navbar-nav .nav-item:after {
        background-image: linear-gradient(90deg, #b30404, #b30404);
        width: 3px;
        transition: all 0.25s; }
      nav.navbar .navbar-nav .nav-item.activo:after {
        width: 7px; }
      nav.navbar .navbar-nav .nav-item:hover:after {
        background-image: linear-gradient(90deg, #b30404, rgba(179, 4, 4, 0));
        width: 15rem; } }

@media only screen and (max-width: 700px) and (orientation: landscape) {
  nav.navbar .navbar-brand {
    padding-top: 0;
    padding-bottom: 0; }
    nav.navbar .navbar-brand img {
      height: 45px; }
  nav.navbar .carritoIcon {
    margin-bottom: -.75rem; } }

/************************* Navbar - Fin ***********************/
/**************************************************************/
/*************************************************************/
/***************** Acordeón Mapa sitio - Inicio **************/
.mapaSitioAccordion {
  display: none;
  flex-basis: 90%;
  margin: 2rem auto 1rem auto;
  padding: 1rem 0;
  border-top: 1px solid rgba(179, 4, 4, 0.4);
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-align: left; }
  .mapaSitioAccordion .card {
    background-color: transparent;
    border-radius: 0; }
    .mapaSitioAccordion .card .card-header {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      cursor: pointer;
      background-color: transparent; }
      .mapaSitioAccordion .card .card-header h5 {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: .25rem; }
      .mapaSitioAccordion .card .card-header .fa-chevron-down {
        display: inline-block; }
      .mapaSitioAccordion .card .card-header .fa-chevron-up {
        display: none; }
      .mapaSitioAccordion .card .card-header.desplegado .fa-chevron-down {
        display: none; }
      .mapaSitioAccordion .card .card-header.desplegado .fa-chevron-up {
        display: inline-block; }
    .mapaSitioAccordion .card .card-body ul {
      list-style: none;
      margin: 0; }
      .mapaSitioAccordion .card .card-body ul li {
        padding: .25rem 0; }
        .mapaSitioAccordion .card .card-body ul li a {
          color: rgba(255, 255, 255, 0.6); }
          .mapaSitioAccordion .card .card-body ul li a:hover {
            color: white; }
  @media only screen and (max-width: 767px) {
    .mapaSitioAccordion {
      display: block; } }

/******************* Acordeón Mapa sitio - Fin  **************/
/*************************************************************/
/************************ Newsletter ***************************/
/*************** Incluye Formulario Bootstrap ******************/
.newsletter {
  width: 50%; }
  .newsletter form {
    padding-top: 0.9rem; }
    .newsletter form .input-group {
      width: 70%;
      margin: auto;
      margin-bottom: 1rem; }
      .newsletter form .input-group input[type="email"] {
        height: 2rem; }
  @media only screen and (max-width: 991px) {
    .newsletter {
      order: -1;
      width: 100%;
      padding-bottom: 2vh; }
      .newsletter .newsletter__titulo {
        font-size: 1rem; }
      .newsletter form .input-group {
        width: 55%; } }
  @media only screen and (max-width: 575px) {
    .newsletter form .input-group {
      width: 80%; } }
  @media only screen and (max-width: 500px) {
    .newsletter form .custom-control-label {
      width: 85%; } }

/********************** Newsletter - Fin ***********************/
/***************************************************************/
/********************** Redes sociales *************************/
/****** se uso grid para acomodar los iconos y el título *******/
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 25%;
  align-items: start;
  justify-items: center; }
  .social :nth-child(1) {
    grid-area: 1 / 1 / 2 / 5; }
  .social :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2; }
  .social :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3; }
  .social :nth-child(4) {
    grid-area: 2 / 3 / 3 / 4; }
  .social :nth-child(5) {
    grid-area: 2 / 4 / 3 / 5; }
  .social img {
    width: 2.5rem; }
  @media only screen and (max-width: 991px) {
    .social {
      width: 50%; }
      .social .social__titulo {
        font-size: 1rem; } }
  @media only screen and (max-width: 575px) {
    .social {
      width: 100%;
      grid-template-rows: repeat(2, 1fr); }
      .social img {
        width: 30px; } }

/************************* Redes - Fin *************************/
/***************************************************************/
/*************************************************************/
/******************* Mapa sitio Lista - Inicio ***************/
.mapaSitioLista {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto 1rem auto;
  padding: 1rem 0;
  border-top: 1px solid rgba(179, 4, 4, 0.4);
  text-align: left; }
  .mapaSitioLista div {
    flex: 0 0 20%;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    padding: 0 1rem; }
    .mapaSitioLista div h5 {
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: .25rem; }
    .mapaSitioLista div ul {
      list-style: none;
      margin-bottom: 0; }
      .mapaSitioLista div ul li a {
        color: rgba(255, 255, 255, 0.6); }
        .mapaSitioLista div ul li a:hover {
          color: white; }
  @media only screen and (max-width: 991px) {
    .mapaSitioLista div:nth-child(2), .mapaSitioLista div:nth-child(4) {
      flex: 0 0 50%;
      padding: 2rem 15% 0 15%;
      order: 1; } }
  @media only screen and (max-width: 767px) {
    .mapaSitioLista {
      display: none; } }

/********************* Mapa sitio Lista - Fin ****************/
/*************************************************************/
/***************************************************************/
/********************* Botón fijo - Inicio  ********************/
.botonMenu {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  z-index: 1030; }
  .botonMenu .botonMenu__link {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .75rem;
    background-color: #b30404;
    box-shadow: 0 0 5px 5px rgba(6, 6, 6, 0.4);
    color: white;
    text-align: center;
    line-height: 2.7rem;
    cursor: pointer;
    outline: 0; }
    .botonMenu .botonMenu__link i {
      font-size: 1.3em;
      transition: transform .2s; }
    .botonMenu .botonMenu__link:active {
      box-shadow: 0 0 5px 5px rgba(6, 6, 6, 0.6); }
  .botonMenu .botonMenu__desplegable {
    padding: 0;
    margin: 0; }
    .botonMenu .botonMenu__desplegable .botonMenu__item {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      text-decoration: none;
      color: white;
      font-size: 1em;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: .75rem;
      text-align: center;
      line-height: 2.2rem;
      background-color: rgba(6, 6, 6, 0.2);
      transition: transform .3s ease, background .2s ease; }
      .botonMenu .botonMenu__desplegable .botonMenu__item:hover {
        background-color: rgba(6, 6, 6, 0.3); }
  .botonMenu.active .botonMenu__link {
    box-shadow: none; }
    .botonMenu.active .botonMenu__link i {
      transform: rotate(-45deg); }
  .botonMenu.active .botonMenu__item {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .botonMenu.active .botonMenu__item:nth-child(1) {
      transform: translate(0, -7rem); }
    .botonMenu.active .botonMenu__item:nth-child(2) {
      transform: translate(0, -3.5rem); }
  .botonMenu.active:after {
    height: 9.5rem;
    transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
    box-shadow: 0 0 5px 5px rgba(6, 6, 6, 0.4); }
  .botonMenu:after {
    display: block;
    content: ' ';
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .75rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -2;
    background-color: rgba(179, 4, 4, 0.4);
    transition: all .3s ease; }

/*********************** Botón fijo - Fin **********************/
/***************************************************************/
/***************************************************************/
/************************* Modal - Inicio **********************/
#modalTerminos .modal-content {
  background-color: #b9b8b8; }
  #modalTerminos .modal-content .modal-header h2 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem; }
  #modalTerminos .modal-content .modal-body {
    padding: 0; }
    #modalTerminos .modal-content .modal-body .imagenTerminos {
      background-image: url("../img/terminos.jpg");
      background-position: top;
      height: 35vw; }
    #modalTerminos .modal-content .modal-body article.terminos {
      width: 75%;
      margin: auto;
      background-color: #545454;
      text-align: center;
      padding: 1.5vh 3vw;
      color: white; }
      #modalTerminos .modal-content .modal-body article.terminos ol {
        padding: 0 3rem; }
      #modalTerminos .modal-content .modal-body article.terminos p {
        padding: 1rem;
        text-align: justify; }

@media only screen and (max-width: 991px) {
  #modalTerminos .modal-content .modal-body article.terminos {
    width: 100%;
    padding: 0.5vh 1vw; } }

#modalCarrito .table td {
  padding: .5rem; }
  #modalCarrito .table td:nth-child(1) {
    width: 18%; }
  #modalCarrito .table td:nth-child(2) {
    width: 42%; }
  #modalCarrito .table td:nth-child(3) {
    width: 8%; }
  #modalCarrito .table td:nth-child(4) {
    width: 18%; }
  #modalCarrito .table td:nth-child(5) {
    width: 14%; }
    #modalCarrito .table td:nth-child(5) button {
      background-color: #423f3f;
      border: none;
      border-radius: 8px;
      color: white;
      padding: 5px;
      margin-left: 5px; }
      #modalCarrito .table td:nth-child(5) button:focus {
        outline: none; }
      #modalCarrito .table td:nth-child(5) button:active {
        background-color: black; }

#modalCarrito #btnConfirmarCompra {
  background-color: #b30404; }

#modalCarrito #totalCarrito {
  font-size: 2rem; }

@media only screen and (max-width: 500px) {
  #modalCarrito .table td:nth-child(5) button {
    margin-right: 5px;
    margin-top: 2px;
    width: 1.5rem; } }

#modalMensajes {
  display: block;
  padding-top: 8rem;
  transition: opacity 1S;
  opacity: 0;
  z-index: -1000; }
  #modalMensajes .modal-content h4 {
    font-size: 1.25rem; }
  #modalMensajes .modal-content.info {
    background-color: #70806fd1;
    color: white;
    text-shadow: 1px 1px #212121; }
    #modalMensajes .modal-content.info .modal-header {
      padding: 0.25rem 1rem;
      border-bottom-color: transparent; }
      #modalMensajes .modal-content.info .modal-header button {
        color: white; }
    #modalMensajes .modal-content.info .modal-footer {
      border-top-color: transparent; }
  #modalMensajes.show {
    opacity: 1;
    z-index: 1050; }
  #modalMensajes .modal-content.loader {
    background-image: url("../img/puff.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center; }

#modalMensajesFondo {
  display: none; }
  #modalMensajesFondo.show {
    display: block; }

/************************* Modal - Fin *************************/
/***************************************************************/
