/********************* Reseteo general CSS *********************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #212529;
  color: white; }

.max-w {
  max-width: 1460px;
  margin: auto; }

p {
  margin-bottom: 0; }

.form-control:focus {
  border-color: #b30404;
  box-shadow: 0 0 0 0.2rem rgba(94, 24, 15, 0.452); }

html {
  font-size: 16px; }
  html h1,
  html h2,
  html h3,
  html h4 {
    font-family: "Montserrat", Helvetica, sans-serif; }
  html p,
  html nav,
  html label {
    font-family: "Roboto Condensed", Helvetica, sans-serif; }
  @media (max-width: 1300px) {
    html {
      font-size: 14px; } }
  @media (max-width: 575px) {
    html {
      font-size: 14px; } }

.form-wrapper {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem; }
  .form-wrapper h2 {
    text-align: center;
    color: white;
    margin-top: 1rem; }
  .form-wrapper form {
    margin-top: 1rem;
    color: white; }
    .form-wrapper form textarea {
      resize: none; }
    .form-wrapper form button[type="submit"] {
      display: none; }
    .form-wrapper form button:not([type="submit"]) {
      padding: 0.5rem 2rem; }
      .form-wrapper form button:not([type="submit"])#formBtnUpdate {
        display: none; }

#productInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out; }

#productInfoMessages.show {
  opacity: 1; }

#productInfoMessages.warning {
  background-color: #ff8a47; }

#productInfoMessages.info {
  background-color: #2f5777; }

.showRoom {
  color: black; }
  .showRoom #filtros {
    position: relative;
    background-color: #929aa1;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem; }
    .showRoom #filtros h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .showRoom #filtros h3 span {
        padding-left: 1rem; }
        .showRoom #filtros h3 span img {
          filter: brightness(0.25); }
    .showRoom #filtros #cantProductosEncontrados {
      margin-bottom: 0.5rem;
      text-align: center;
      font-weight: 300;
      border: 1px solid #545454;
      border-radius: 0.25rem;
      background-color: #545454;
      color: white; }
    .showRoom #filtros h4 {
      text-align: center;
      font-size: 1.1rem; }
    .showRoom #filtros .btn {
      display: block;
      width: 100%;
      margin: auto; }
      .showRoom #filtros .btn.ocultar {
        display: none; }
    .showRoom #filtros #verMarcas,
    .showRoom #filtros #volverMarcas {
      background-color: #b30404; }
      .showRoom #filtros #verMarcas i,
      .showRoom #filtros #volverMarcas i {
        font-size: 1.15rem;
        margin-left: 0.5rem;
        vertical-align: text-bottom; }
    .showRoom #filtros .row label {
      font-weight: 500; }
    .showRoom #filtros .row .form-check {
      transition: all 0.4s; }
      .showRoom #filtros .row .form-check label {
        width: 100%;
        padding-left: 0.25rem; }
      .showRoom #filtros .row .form-check.seleccionado {
        background-color: #b30404a3;
        color: white;
        border-radius: 0.25rem;
        padding-left: 2rem; }
      .showRoom #filtros .row .form-check:not(.seleccionado):not(:nth-of-type(7)):hover {
        padding-left: 2rem;
        color: #b30404; }
    .showRoom #filtros .row .form-group {
      text-align: center; }
      .showRoom #filtros .row .form-group label {
        margin-bottom: 0; }
      .showRoom #filtros .row .form-group input[type="text"] {
        height: 1.7rem;
        max-width: 8rem;
        margin: auto;
        background-color: #545454;
        color: white; }
    .showRoom #filtros #marcas {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0.5rem;
      background-color: #545454;
      color: white;
      font-size: 0.9rem;
      height: 100%;
      width: 100%;
      border-radius: 0.25rem;
      border: 3px solid #545454;
      z-index: 1000;
      display: none;
      overflow-y: auto; }
      .showRoom #filtros #marcas .form-check {
        margin-bottom: 0.5rem; }
        .showRoom #filtros #marcas .form-check label {
          vertical-align: middle; }
    @media (max-width: 575px) {
      .showRoom #filtros h3 {
        cursor: pointer; }
      .showRoom #filtros #contenedorFiltros {
        display: none; }
        .showRoom #filtros #contenedorFiltros .form-check {
          width: 70%;
          margin: auto; }
          .showRoom #filtros #contenedorFiltros .form-check label {
            padding-left: 0.5rem; }
        .showRoom #filtros #contenedorFiltros .btn {
          width: 70%; }
      .showRoom #filtros #marcas .form-check {
        margin-bottom: 0.5rem; }
        .showRoom #filtros #marcas .form-check label {
          vertical-align: sub; } }
  .showRoom .colProductos .buscarOrdenar {
    background-color: #929aa1;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem; }
    .showRoom .colProductos .buscarOrdenar .form-inline #inputBuscar {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .showRoom .colProductos .buscarOrdenar .form-inline #btnBuscar {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .showRoom .colProductos .buscarOrdenar .form-inline #btnBuscar img {
        width: 1.1rem; }
    .showRoom .colProductos .buscarOrdenar .form-inline #selectOrdenar {
      width: 25%; }
      @media (max-width: 767px) {
        .showRoom .colProductos .buscarOrdenar .form-inline #selectOrdenar {
          width: 35%; } }
  .showRoom .colProductos #contenedorProductos {
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2c3034;
    margin: 1rem 0 1.5rem 0;
    padding-top: 0.5rem;
    border: 3px solid #2c3034;
    border-radius: 0.25rem;
    min-height: 33rem; }
    .showRoom .colProductos #contenedorProductos .loader {
      height: 33rem;
      background-image: url("../img/puff.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #2c3034;
      color: white;
      border-radius: 0.25rem;
      margin: 1.5rem 0;
      padding: 2rem;
      text-align: center;
      margin: auto;
      flex: 0 0 80%;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 2rem; }
      .showRoom .colProductos #contenedorProductos .loader h3 {
        width: 100%;
        margin-bottom: 2rem; }
      .showRoom .colProductos #contenedorProductos .loader p {
        font-size: 1.25rem;
        width: 100%;
        margin-bottom: 0.5rem; }
    .showRoom .colProductos #contenedorProductos .card .descuento {
      position: absolute;
      width: 3.5rem;
      height: 3rem;
      top: 0;
      right: 0;
      background-color: #b30404;
      border-radius: 40% 0% 40% 0%;
      color: white;
      font-weight: 700;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .showRoom .colProductos #contenedorProductos .card .card-img-top {
      width: 70%;
      height: 100%;
      object-fit: contain;
      margin: auto; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(1) {
      padding-bottom: 6.25rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) {
      position: absolute;
      bottom: 5rem; }
      .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) b {
        font-size: 1.1rem;
        color: #b30404; }
      .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) del {
        color: #545454;
        margin-left: 0.1rem;
        font-size: 0.95rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(3) {
      position: absolute;
      width: 100%;
      bottom: 3.5rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body > *:last-child {
      position: absolute;
      width: 100%;
      bottom: 1.25rem; }
    .showRoom .colProductos #contenedorProductos .card .btn {
      font-weight: 500;
      transition: all 0.3s; }
      .showRoom .colProductos #contenedorProductos .card .btn:hover:not([disabled]) {
        transform: scale(1.04, 1.04); }
      .showRoom .colProductos #contenedorProductos .card .btn[disabled] {
        width: 88%;
        left: 6%;
        right: 6%;
        background-color: #545454;
        border-color: #545454; }
    .showRoom .colProductos #contenedorProductos .card .inputCantidad {
      width: 40%;
      max-width: 5rem; }
    .showRoom .colProductos #contenedorProductos .errorResultadoBuscar {
      color: white;
      background-color: #2c3034;
      border-radius: 0.25rem;
      margin: 1.5rem 0;
      text-align: center;
      margin: auto;
      flex: 0 0 80%;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center; }
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar i {
        color: red;
        display: block;
        margin-bottom: 1rem; }
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar i,
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar h3,
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar p {
        width: 100%; }
  @media (max-width: 575px) {
    .showRoom .colProductos {
      padding-left: 0;
      padding-right: 0; }
      .showRoom .colProductos #contenedorProductos {
        margin-left: 1rem;
        margin-right: 1rem; } }

.cartManage {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto 2rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
  text-align: center; }
  .cartManage h2 {
    margin-top: 1rem; }
  .cartManage #btnCreateCart {
    margin-top: 1rem; }
  .cartManage .select-wrapper {
    margin-top: 2rem; }
    .cartManage .select-wrapper .form-select {
      display: inline-block;
      width: 45%;
      max-width: 15rem;
      margin-right: 1rem; }
    .cartManage .select-wrapper #btnDeleteCart {
      opacity: 1;
      transition: 0.5s all ease-in-out; }
      .cartManage .select-wrapper #btnDeleteCart.hidden {
        opacity: 0;
        pointer-events: none; }

#cartInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out; }

#cartInfoMessages.show {
  opacity: 1; }

#cartInfoMessages.warning {
  background-color: #ff8a47; }

#cartInfoMessages.info {
  background-color: #2f5777; }

#cartProducts {
  display: none;
  text-align: center;
  margin-bottom: 2rem; }
  #cartProducts .table {
    width: 95%;
    max-width: 50rem;
    margin: 1rem auto;
    vertical-align: middle;
    text-align: center; }
    #cartProducts .table thead th:first-child {
      width: 5%; }
    #cartProducts .table thead th:nth-child(2) {
      width: 17%;
      text-align: left; }
    #cartProducts .table thead th:nth-child(3) {
      width: 40%;
      text-align: left; }
    #cartProducts .table thead th:nth-child(4) {
      width: 15%; }
    #cartProducts .table thead th:nth-child(5) {
      width: 15%; }
    #cartProducts .table thead th:last-child {
      width: 8%; }
    #cartProducts .table tbody td:first-child {
      padding: 0; }
    #cartProducts .table tbody td:nth-child(2) {
      padding: 1rem 0; }
      #cartProducts .table tbody td:nth-child(2) .table__image {
        width: 60%; }
    #cartProducts .table tbody td:nth-child(3) {
      text-align: left;
      padding-right: 0.25rem; }
      #cartProducts .table tbody td:nth-child(3) p:last-child {
        margin-top: 1rem;
        display: none; }
    #cartProducts .table tbody td:nth-child(4) .btn-qty-update {
      display: none; }
    #cartProducts .table tbody td:last-child img {
      cursor: pointer;
      max-width: 1.25rem; }
  #cartProducts div.bg-yellow {
    background-color: #ffc107d6; }
  @media (max-width: 767px) {
    #cartProducts .table thead th:first-child,
    #cartProducts .table thead th:nth-child(5) {
      display: none; }
    #cartProducts .table thead th:nth-child(2) {
      width: 10%; }
    #cartProducts .table thead th:nth-child(3) {
      width: 50%; }
    #cartProducts .table thead th:nth-child(4) {
      width: 32%; }
    #cartProducts .table thead th:last-child {
      width: 8%; }
    #cartProducts .table tbody td:first-child,
    #cartProducts .table tbody td:nth-child(5) {
      display: none; }
    #cartProducts .table tbody td:nth-child(2) .table__image {
      width: 100%; }
    #cartProducts .table tbody td:nth-child(3) p:last-child {
      display: block; }
    #cartProducts .table tbody td:last-child {
      padding: 0; }
      #cartProducts .table tbody td:last-child img {
        width: 1rem;
        padding: 1rem 0; } }
