* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #212529;
  color: white;
}
main.chat {
  text-align: center;
}
div.bg-yellow {
  background-color: #ffc107d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343c42;
}
#messageErrors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  background-color: rgb(255, 138, 71);
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
#messageErrors.show {
  opacity: 1;
}
.chatZone {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 2rem 2rem 0.25rem 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
}

#userForm {
  width: 95%;
  max-width: 28rem;
  margin: auto;
}
#inputEmail.logged {
  color: rgb(50, 50, 233);
  background-color: #212529c0;
  font-weight: bolder;
}
#btn-log,
#btn-send {
  transition: all 0.5s ease-in-out;
}
#btn-log.logged {
  background-color: #dc354578;
}
#btn-send:disabled {
  background-color: transparent;
}
#inputMessage {
  transition: all 0.75s ease-in-out;
}
#inputMessage:disabled {
  background-color: transparent;
}
#messages-wrapper {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #343c42;
  border-radius: 0.5rem;
  color: #8f8f8f;
}
#messages-wrapper .message-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0.25rem 1rem 0.25rem 1rem;
}
#messages-wrapper .message-box.admin {
  justify-content: flex-end;
}
#messages-wrapper .message-box .color {
  width: 0.5rem;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom-left-radius: 0.75rem;
}
#messages-wrapper .message-box.admin .color {
  order: 2;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: 0.75rem;
}
#messages-wrapper .message {
  text-align: left;
  background-color: #212529c0;
  padding: 0.25rem 1rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  max-width: 90%;
}
#messages-wrapper .message-box.admin .message {
  text-align: left;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
#messages-wrapper .message.clickable {
  cursor: pointer;
}
#messages-wrapper .message b {
  text-align: left;
  margin-right: 0.5rem;
}
#messages-wrapper .message .toUser {
  display: block;
  margin-bottom: 1rem;
}
#messages-wrapper .message .toUser.with-border {
  padding-left: 0.25rem;
  border-left: 2px solid;
}
#messages-wrapper .message .toUser i {
  margin-right: 0.5rem;
}
#messages-wrapper .message i {
  font-size: 0.8rem;
}
#messages-wrapper .message span {
  display: block;
  color: #c6c6c6;
}
#messages-wrapper .date {
  text-align: center;
  color: #b1b1b1;
  background-color: #2125296b;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto;
}
#messages-wrapper .message-box .reply {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: center;
  opacity: 0;
  transition: all 0.3s ease-in;
}
#messages-wrapper .message-box:hover .reply {
  cursor: pointer;
  opacity: 1;
}
#messages-wrapper .message-box .reply i {
  color: #252a2e;
}
.reply-wrapper {
  margin-top: 1rem;
  text-align: left;
  display: none;
}
.reply-wrapper.show {
  display: block;
}
.reply-wrapper span {
  color: #b30404;
  font-style: italic;
  margin-right: 0.5rem;
}
.reply-wrapper #reply-message {
  color: #8f8f8f;
  font-style: italic;
  margin-right: 0.5rem;
}

@media (max-width: 576px) {
  .chatZone {
    padding: 2rem 0.5rem 0.25rem 0.5rem;
  }
}
@media (max-width: 340px) {
  .chatZone {
    margin: 0 auto;
  }
}
