@charset "UTF-8";
/***************************************************************/
/******************** Place Holders - Inicio  ******************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;1,500;1,700;1,800&family=Roboto+Condensed:wght@300;400;700&display=swap");
.newsletter .newsletter__titulo, .social .social__titulo {
  background-color: #545454;
  color: white; }

.newsletter .newsletter__titulo, .social .social__titulo {
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.25rem;
  width: 90%;
  height: auto;
  text-transform: uppercase;
  border-radius: 0.25rem;
  margin: 0 auto 1rem auto; }

.newsletter form .input-group input[type="submit"] {
  width: 8vw;
  min-width: 7rem;
  height: 2rem;
  background-color: #b30404;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 0.07rem; }

/********************* Place Holders - Fin  ********************/
/***************************************************************/
/********************* Reseteo general CSS *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #212529;
  color: white; }

.max-w {
  max-width: 1460px;
  margin: auto; }

.opacity-50 {
  opacity: 0.5; }

.hidden {
  opacity: 0;
  pointer-events: none; }

main.min-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

main.mh-70 {
  min-height: 70vh; }

/* para pisar Bootstrap */
/* ******************** */
p {
  margin-bottom: 0; }

.form-control:focus {
  border-color: #b30404;
  box-shadow: 0 0 0 0.2rem rgba(94, 24, 15, 0.452); }

.btn-danger {
  background-color: #b30404;
  border-color: #b30404; }

.was-validated #inputRepeatPassword:valid.is-invalid {
  border-color: #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e"); }

.was-validated #inputRepeatPassword:valid:focus.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25); }

html {
  font-size: 16px; }
  html h1,
  html h2,
  html h3,
  html h4 {
    font-family: "Montserrat", Helvetica, sans-serif; }
  html p,
  html nav,
  html label {
    font-family: "Roboto Condensed", Helvetica, sans-serif; }
  @media (max-width: 1300px) {
    html {
      font-size: 14px; } }
  @media (max-width: 575px) {
    html {
      font-size: 14px; } }

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0; }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in; }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1; }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg); }
  to {
    transform: perspective(400px); } }

.animate__flipInX {
  animation-name: flipInX;
  animation-duration: 1s; }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.animate__fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.animate__fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 1s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animate__fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s; }

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.animate__slideInUp {
  animation-name: slideInUp;
  animation-duration: 1s; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.9, 0.9, 0.9); }
  70% {
    opacity: 1; } }

.animate__zoomIn {
  animation-name: zoomIn;
  animation-duration: 0.75s; }

@keyframes navbarCategories {
  from {
    height: 0;
    transform: translate3d(0, 100%, 0);
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    height: 2rem; } }

.animate__navbar-nav--loaded {
  animation-name: navbarCategories;
  animation-duration: 1s; }

header {
  position: sticky;
  top: 0;
  z-index: 1020; }

.form-wrapper {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  margin-top: 2rem;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem; }
  .form-wrapper h2 {
    text-align: center;
    color: white;
    margin-top: 1rem; }
  .form-wrapper form {
    margin-top: 1rem;
    color: white; }
    .form-wrapper form textarea {
      resize: none; }
    .form-wrapper form button[type="submit"] {
      display: none; }
    .form-wrapper form button:not([type="submit"]) {
      padding: 0.5rem 2rem; }
      .form-wrapper form button:not([type="submit"])#formBtnUpdate {
        display: none; }

#productInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out; }

#productInfoMessages.show {
  opacity: 1; }

#productInfoMessages.warning {
  background-color: #ff8a47; }

#productInfoMessages.info {
  background-color: #2f5777; }

.showRoom {
  color: black; }
  .showRoom #filtros {
    position: relative;
    background-color: #929aa1;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem; }
    .showRoom #filtros h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center; }
      .showRoom #filtros h3 span {
        padding-left: 1rem; }
        .showRoom #filtros h3 span img {
          filter: brightness(0.25); }
    .showRoom #filtros #cantProductosEncontrados {
      margin-bottom: 0.5rem;
      text-align: center;
      font-weight: 300;
      border: 1px solid #545454;
      border-radius: 0.25rem;
      background-color: #545454;
      color: white; }
    .showRoom #filtros h4 {
      text-align: center;
      font-size: 1.1rem; }
    .showRoom #filtros .btn {
      display: block;
      width: 100%;
      margin: auto; }
      .showRoom #filtros .btn.ocultar {
        display: none; }
    .showRoom #filtros #verMarcas,
    .showRoom #filtros #volverMarcas {
      background-color: #b30404; }
      .showRoom #filtros #verMarcas i,
      .showRoom #filtros #volverMarcas i {
        font-size: 1.15rem;
        margin-left: 0.5rem;
        vertical-align: text-bottom; }
    .showRoom #filtros .row label {
      font-weight: 500; }
    .showRoom #filtros .row .form-check {
      transition: all 0.4s; }
      .showRoom #filtros .row .form-check label {
        width: 100%;
        padding-left: 0.25rem; }
      .showRoom #filtros .row .form-check.seleccionado {
        background-color: #b30404a3;
        color: white;
        border-radius: 0.25rem;
        padding-left: 2rem; }
        .showRoom #filtros .row .form-check.seleccionado.only {
          padding-top: 1rem;
          padding-bottom: 1rem; }
      .showRoom #filtros .row .form-check:not(.seleccionado):not(:nth-of-type(7)):hover {
        padding-left: 2rem;
        color: #b30404; }
    .showRoom #filtros .row .form-group {
      text-align: center; }
      .showRoom #filtros .row .form-group label {
        margin-bottom: 0; }
      .showRoom #filtros .row .form-group input[type="text"] {
        height: 1.7rem;
        max-width: 8rem;
        margin: auto;
        background-color: #545454;
        color: white; }
    .showRoom #filtros #marcas {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0.5rem;
      background-color: #545454;
      color: white;
      font-size: 0.9rem;
      height: 100%;
      width: 100%;
      border-radius: 0.25rem;
      border: 3px solid #545454;
      z-index: 1000;
      display: none;
      overflow-y: auto; }
      .showRoom #filtros #marcas .form-check {
        margin-bottom: 0.5rem; }
        .showRoom #filtros #marcas .form-check label {
          vertical-align: middle; }
    @media (max-width: 575px) {
      .showRoom #filtros h3 {
        cursor: pointer; }
      .showRoom #filtros #contenedorFiltros {
        display: none; }
        .showRoom #filtros #contenedorFiltros .form-check {
          width: 70%;
          margin: auto; }
          .showRoom #filtros #contenedorFiltros .form-check label {
            padding-left: 0.5rem; }
        .showRoom #filtros #contenedorFiltros .btn {
          width: 70%; }
      .showRoom #filtros #marcas .form-check {
        margin-bottom: 0.5rem; }
        .showRoom #filtros #marcas .form-check label {
          vertical-align: sub; } }
  .showRoom .colProductos .buscarOrdenar {
    background-color: #929aa1;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem; }
    .showRoom .colProductos .buscarOrdenar .form-inline #inputBuscar {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
    .showRoom .colProductos .buscarOrdenar .form-inline #btnBuscar {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
      .showRoom .colProductos .buscarOrdenar .form-inline #btnBuscar img {
        width: 1.1rem; }
    .showRoom .colProductos .buscarOrdenar .form-inline #selectOrdenar {
      width: 25%; }
      @media (max-width: 767px) {
        .showRoom .colProductos .buscarOrdenar .form-inline #selectOrdenar {
          width: 35%; } }
  .showRoom .colProductos #contenedorProductos {
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #2c3034;
    margin: 1rem 0 1.5rem 0;
    padding-top: 0.5rem;
    border: 3px solid #2c3034;
    border-radius: 0.25rem;
    min-height: 33rem; }
    .showRoom .colProductos #contenedorProductos .loader {
      height: 33rem;
      background-image: url("/img/puff.svg");
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #2c3034;
      color: white;
      border-radius: 0.25rem;
      margin: 1.5rem 0;
      padding: 2rem;
      text-align: center;
      margin: auto;
      flex: 0 0 80%;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 2rem; }
      .showRoom .colProductos #contenedorProductos .loader h3 {
        width: 100%;
        margin-bottom: 2rem; }
      .showRoom .colProductos #contenedorProductos .loader p {
        font-size: 1.25rem;
        width: 100%;
        margin-bottom: 0.5rem; }
    .showRoom .colProductos #contenedorProductos .card .idBadge {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      width: auto;
      min-width: 5rem;
      background-color: #6d8fad;
      font-style: italic; }
    .showRoom .colProductos #contenedorProductos .card .descuento {
      position: absolute;
      width: 3.5rem;
      height: 3rem;
      top: 0;
      right: 0;
      background-color: #b30404;
      border-radius: 40% 0% 40% 0%;
      color: white;
      font-weight: 700;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .showRoom .colProductos #contenedorProductos .card .card-img-top {
      width: 70%;
      height: 100%;
      object-fit: contain;
      margin: auto; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(1) {
      padding-bottom: 6.25rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) {
      position: absolute;
      bottom: 5rem; }
      .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) b {
        font-size: 1.1rem;
        color: #b30404; }
      .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(2) del {
        color: #545454;
        margin-left: 0.1rem;
        font-size: 0.95rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body p:nth-of-type(3) {
      position: absolute;
      width: 100%;
      bottom: 3.5rem; }
    .showRoom .colProductos #contenedorProductos .card .card-body > *:last-child {
      position: absolute;
      width: 100%;
      bottom: 1.25rem; }
    .showRoom .colProductos #contenedorProductos .card .btn {
      font-weight: 500;
      transition: all 0.3s; }
      .showRoom .colProductos #contenedorProductos .card .btn:hover:not([disabled]) {
        transform: scale(1.04, 1.04); }
      .showRoom .colProductos #contenedorProductos .card .btn[disabled] {
        width: 88%;
        left: 6%;
        right: 6%;
        background-color: #545454;
        border-color: #545454; }
    .showRoom .colProductos #contenedorProductos .card .inputCantidad {
      width: 40%;
      max-width: 5rem; }
    .showRoom .colProductos #contenedorProductos .errorResultadoBuscar {
      color: white;
      background-color: #2c3034;
      border-radius: 0.25rem;
      margin: 1.5rem 0;
      text-align: center;
      margin: auto;
      flex: 0 0 80%;
      max-width: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center; }
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar i {
        color: red;
        display: block;
        margin-bottom: 1rem; }
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar i,
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar h3,
      .showRoom .colProductos #contenedorProductos .errorResultadoBuscar p {
        width: 100%; }
    .showRoom .colProductos #contenedorProductos::-webkit-scrollbar {
      -webkit-appearance: none; }
    .showRoom .colProductos #contenedorProductos::-webkit-scrollbar:vertical {
      width: 0.5rem; }
    .showRoom .colProductos #contenedorProductos::-webkit-scrollbar-button:increment, .showRoom .colProductos #contenedorProductos::-webkit-scrollbar-button {
      display: none; }
    .showRoom .colProductos #contenedorProductos::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 20px; }
    .showRoom .colProductos #contenedorProductos::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: darkgrey; }
  @media (max-width: 575px) {
    .showRoom .colProductos {
      padding-left: 0;
      padding-right: 0; }
      .showRoom .colProductos #contenedorProductos {
        margin-left: 1rem;
        margin-right: 1rem; } }

.cartManage {
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
  text-align: center; }
  .cartManage h2 {
    margin-top: 1rem; }
  .cartManage #btnCreateCart {
    margin-top: 1rem; }
  .cartManage .select-wrapper {
    margin-top: 2rem; }
    .cartManage .select-wrapper .form-select {
      display: inline-block;
      width: 45%;
      max-width: 15rem;
      margin-right: 1rem; }
    .cartManage .select-wrapper #btnDeleteCart {
      opacity: 1;
      transition: 0.5s all ease-in-out; }
      .cartManage .select-wrapper #btnDeleteCart.hidden {
        opacity: 0;
        pointer-events: none; }
  @media (max-width: 575px) {
    .cartManage {
      padding: 1rem; }
      .cartManage .select-wrapper .form-select {
        width: 60%; } }

#cartInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out; }

#cartInfoMessages.show {
  opacity: 1; }

#cartInfoMessages.warning {
  background-color: #ff8a47; }

#cartInfoMessages.info {
  background-color: #2f5777; }

#cartProducts {
  display: none;
  text-align: center;
  margin-bottom: 2rem; }
  #cartProducts h3 {
    margin-bottom: 2rem; }
    #cartProducts h3 i {
      font-size: 1.4rem;
      border-radius: 0.25rem;
      border: 1px solid;
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem; }
  #cartProducts .table {
    width: 95%;
    max-width: 50rem;
    margin: 1rem auto;
    vertical-align: middle;
    text-align: center; }
    #cartProducts .table thead th:first-child {
      width: 5%; }
    #cartProducts .table thead th:nth-child(2) {
      width: 17%;
      text-align: left; }
    #cartProducts .table thead th:nth-child(3) {
      width: 40%;
      text-align: left; }
    #cartProducts .table thead th:nth-child(4) {
      width: 15%; }
    #cartProducts .table thead th:nth-child(5) {
      width: 15%; }
    #cartProducts .table thead th:last-child {
      width: 8%; }
    #cartProducts .table tbody td:first-child {
      padding: 0;
      font-size: 0.7rem; }
    #cartProducts .table tbody td:nth-child(2) {
      padding: 1rem 0; }
      #cartProducts .table tbody td:nth-child(2) .table__image {
        width: 60%; }
    #cartProducts .table tbody td:nth-child(3) {
      text-align: left;
      padding-right: 0.25rem; }
      #cartProducts .table tbody td:nth-child(3) p:last-child {
        margin-top: 1rem;
        display: none; }
    #cartProducts .table tbody td:nth-child(4) .btn-qty-update {
      display: none; }
    #cartProducts .table tbody td:last-child img {
      cursor: pointer;
      max-width: 1.25rem; }
  #cartProducts div.bg-yellow {
    background-color: #ffc107d6; }
  #cartProducts .actions .btn-dark {
    border: 1px solid white; }
    #cartProducts .actions .btn-dark:hover {
      background-color: #545454; }
  @media (max-width: 767px) {
    #cartProducts .table thead th:first-child,
    #cartProducts .table thead th:nth-child(5) {
      display: none; }
    #cartProducts .table thead th:nth-child(2) {
      width: 12%; }
    #cartProducts .table thead th:nth-child(3) {
      width: 52%; }
    #cartProducts .table thead th:nth-child(4) {
      width: 28%; }
    #cartProducts .table thead th:last-child {
      width: 8%; }
    #cartProducts .table tbody td:first-child,
    #cartProducts .table tbody td:nth-child(5) {
      display: none; }
    #cartProducts .table tbody td:nth-child(2) .table__image {
      width: 100%; }
    #cartProducts .table tbody td:nth-child(3) p:last-child {
      display: block; }
    #cartProducts .table tbody td:nth-child(4) .btn {
      padding: 0.2rem 0.35rem; }
    #cartProducts .table tbody td:nth-child(4) .input-group > .form-control {
      padding: 0.2rem; }
    #cartProducts .table tbody td:last-child {
      padding: 0; }
      #cartProducts .table tbody td:last-child img {
        width: 1rem;
        padding: 1rem 0; } }

main.userCart #cartProducts .table thead th:first-child {
  display: none; }

main.userCart #cartProducts .table tbody td:first-child {
  display: none; }

main.userCart a.btn {
  width: fit-content; }
  main.userCart a.btn img {
    margin-left: 0.5rem;
    width: 1.5rem; }

main.adminCarts {
  min-height: 70vh; }
  main.adminCarts #cartProducts h3 {
    margin-bottom: 0.5rem; }

main.chat {
  text-align: center; }

div.bg-yellow {
  background-color: #ffc107d6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #343c42; }

#messageErrors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  background-color: #ff8a47;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out; }

#messageErrors.show {
  opacity: 1; }

.chatZone {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  margin-top: 2rem;
  padding: 2rem 2rem 0.25rem 2rem;
  background-color: #2c3034;
  border-radius: 1rem; }

#userForm {
  width: 95%;
  max-width: 28rem;
  margin: auto; }

#inputEmail.logged {
  color: #3232e9;
  background-color: #212529c0;
  font-weight: bolder; }

#btn-log,
#btn-send {
  transition: all 0.5s ease-in-out; }

#btn-log {
  display: none; }
  #btn-log .logged {
    background-color: #dc354578; }

#btn-filter img {
  width: 1.75rem;
  padding-right: 0.5rem; }

#btn-send:disabled {
  background-color: transparent; }

#inputMessage {
  transition: all 0.75s ease-in-out; }

#inputMessage:disabled {
  background-color: transparent; }

#messages-wrapper {
  display: flex;
  flex-direction: column;
  height: 60vh;
  overflow-y: auto;
  scroll-behavior: smooth;
  background-color: #343c42;
  border-radius: 0.5rem;
  color: #8f8f8f; }

#messages-wrapper .message-box {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin: 0.25rem 1rem 0.25rem 1rem; }

#messages-wrapper .message-box.admin {
  justify-content: flex-end; }

#messages-wrapper .message-box .color {
  width: 0.5rem;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom-left-radius: 0.75rem; }

#messages-wrapper .message-box.admin .color {
  order: 2;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: 0.75rem; }

#messages-wrapper .message {
  text-align: left;
  background-color: #212529c0;
  padding: 0.25rem 1rem;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  max-width: 90%; }

#messages-wrapper .message-box.admin .message {
  text-align: left;
  background-color: #1a2f3c;
  border-top-right-radius: unset;
  border-bottom-right-radius: unset;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem; }

#messages-wrapper .message-box.admin .message.toUser {
  border-left: 4px solid; }

#messages-wrapper .message-box.admin .message.toAll {
  border: 2px solid; }

#messages-wrapper .message.clickable {
  cursor: pointer; }

#messages-wrapper .message b {
  text-align: left;
  margin-right: 0.5rem; }

#messages-wrapper .message .toUser {
  display: block;
  margin-bottom: 1rem; }

#messages-wrapper .message .toUser.with-border {
  padding-left: 0.25rem;
  border-left: 2px solid; }

#messages-wrapper .message .toUser i {
  margin-right: 0.5rem; }

#messages-wrapper .message i {
  font-size: 0.8rem; }

#messages-wrapper .message span {
  display: block;
  color: #c6c6c6; }

#messages-wrapper .date {
  text-align: center;
  color: #b1b1b1;
  background-color: #2125296b;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  margin: 0.5rem auto; }

#messages-wrapper .message-box .reply {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  align-self: center;
  opacity: 0;
  transition: all 0.3s ease-in; }

#messages-wrapper .message-box:hover .reply {
  cursor: pointer;
  opacity: 1; }

#messages-wrapper .message-box .reply i {
  color: #252a2e; }

.reply-wrapper {
  margin-top: 1rem;
  text-align: left;
  display: none; }

.reply-wrapper.show {
  display: block; }

.reply-wrapper span {
  color: #b30404;
  font-style: italic;
  margin-right: 0.5rem; }

.reply-wrapper #reply-message {
  color: #8f8f8f;
  font-style: italic;
  margin-right: 0.5rem; }

@media (max-width: 576px) {
  .chatZone {
    padding: 2rem 0.5rem 0.25rem 0.5rem; } }

@media (max-width: 340px) {
  .chatZone {
    margin: 0 auto; } }

#messages-wrapper::-webkit-scrollbar {
  -webkit-appearance: none; }

#messages-wrapper::-webkit-scrollbar:vertical {
  width: 0.5rem; }

#messages-wrapper::-webkit-scrollbar-button:increment,
#messages-wrapper::-webkit-scrollbar-button {
  display: none; }

#messages-wrapper::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px; }

#messages-wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: darkgrey; }

main.checkout {
  overflow: hidden;
  background-color: #b9b8b8;
  background: linear-gradient(180deg, #b9b8b8 0%, rgba(84, 84, 84, 0.75) 100%); }
  main.checkout h2 {
    background-color: #545454;
    margin: 1.5rem auto;
    border-radius: 0.5rem; }
  main.checkout #checkOutCompra {
    color: black; }
    main.checkout #checkOutCompra .resumenCompra {
      background-color: #e9ecef;
      border-radius: 0.25rem; }
      main.checkout #checkOutCompra .resumenCompra h3 {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem; }
      main.checkout #checkOutCompra .resumenCompra .table tr {
        opacity: 0; }
        main.checkout #checkOutCompra .resumenCompra .table tr td {
          background-color: white;
          padding: 0.25rem;
          vertical-align: middle; }
          main.checkout #checkOutCompra .resumenCompra .table tr td:nth-child(1) {
            width: 22%; }
          main.checkout #checkOutCompra .resumenCompra .table tr td:nth-child(2) {
            width: 50%; }
          main.checkout #checkOutCompra .resumenCompra .table tr td:nth-child(3) {
            width: 10%; }
          main.checkout #checkOutCompra .resumenCompra .table tr td:nth-child(4) {
            width: 18%; }
      main.checkout #checkOutCompra .resumenCompra .importe {
        opacity: 0;
        color: #fff;
        background-color: #545454;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;
        font-weight: 700;
        padding-right: 1rem;
        margin-top: 2rem;
        margin-bottom: 1rem; }
        main.checkout #checkOutCompra .resumenCompra .importe p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          font-size: 1.4rem; }
          main.checkout #checkOutCompra .resumenCompra .importe p span {
            font-size: 1.7rem; }
      main.checkout #checkOutCompra .resumenCompra .help {
        text-align: center;
        padding-top: 0.5rem;
        font-size: 1.1rem;
        color: #545454; }
        main.checkout #checkOutCompra .resumenCompra .help span {
          font-weight: bold;
          color: #b30404;
          font-size: 1.4rem;
          white-space: nowrap; }
    main.checkout #checkOutCompra form div.col-sm-12 {
      margin-bottom: 5px; }
    main.checkout #checkOutCompra form label {
      font-weight: bold; }
    main.checkout #checkOutCompra form small {
      color: black;
      font-weight: 300; }
    main.checkout #checkOutCompra form fieldset legend {
      font-weight: bold;
      font-size: 1.2rem; }
    main.checkout #checkOutCompra form #contenedorCuotas .item-cuota {
      border-bottom: 1px solid #3e3e3e;
      margin-bottom: 0.5rem; }
    main.checkout #checkOutCompra form #contenedorCuotas span {
      font-weight: bold;
      padding-right: 1rem;
      padding-left: 0.25rem; }
      main.checkout #checkOutCompra form #contenedorCuotas span b {
        font-size: 1.25rem; }
    main.checkout #checkOutCompra form #contenedorCuotas i {
      white-space: nowrap; }
    main.checkout #checkOutCompra form #btnAceptaCompra {
      background-color: #b30404; }
      main.checkout #checkOutCompra form #btnAceptaCompra:hover {
        background-color: #d11212; }
      main.checkout #checkOutCompra form #btnAceptaCompra img {
        margin-left: 0.5rem;
        width: 1.5rem; }
  @media (max-width: 500px) {
    main.checkout #checkOutCompra form #contenedorCuotas span {
      padding-right: 0.5rem; }
    main.checkout #checkOutCompra form #contenedorCuotas i {
      display: block; } }

/***************************************************************/
/************************ Footer - Inicio  *********************/
/********************* Flexbox anidados row ********************/
footer .contenidoFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #212121;
  color: white;
  height: auto;
  text-align: center;
  padding: 1.5rem 0 1rem 0; }
  footer .contenidoFooter .info {
    overflow: hidden;
    width: 25%;
    padding: 1em 3vw; }
    footer .contenidoFooter .info p:nth-child(2) {
      padding-bottom: 1rem; }

footer .logo {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer .logo img {
    width: 4rem; }
  @media (max-width: 991px) {
    footer .logo {
      display: none; } }

footer address {
  background-color: #060606;
  text-align: center;
  color: white;
  padding: 1.5rem 0.625rem;
  margin-bottom: 0;
  /* para pisar a Bootstrap */ }

@media (max-width: 991px) {
  footer .contenidoFooter {
    flex-wrap: wrap; }
    footer .contenidoFooter .info {
      width: 50%; } }

@media (max-width: 575px) {
  footer .contenidoFooter .info {
    width: 100%;
    padding-top: 0; }
    footer .contenidoFooter .info p:nth-child(1),
    footer .contenidoFooter .info p:nth-child(2) {
      display: none; } }

/************************ Footer - Fin  ************************/
/***************************************************************/
.logout {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #334c59; }
  .logout h2 {
    color: white;
    margin-top: 1rem;
    text-align: center; }
  .logout .btn {
    display: block;
    margin: 3rem auto 0 auto;
    padding: 0.5rem 2rem;
    width: fit-content;
    text-decoration: none;
    color: white;
    border-radius: 5rem; }

.auth-error-wrapper {
  width: 95%;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
  text-align: center;
  color: #b30404; }
  .auth-error-wrapper h1 {
    font-style: italic; }
  .auth-error-wrapper p {
    font-size: 1.25rem;
    color: #cecece; }
  .auth-error-wrapper a {
    width: fit-content; }

.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 3rem; }
  .error404 h2 {
    font-size: 8rem;
    font-style: italic;
    font-weight: 700;
    color: #b30404; }
  .error404 h3 {
    font-size: 4rem;
    font-style: italic;
    font-weight: 300;
    color: #b30404; }
  .error404 p {
    font-size: 1.25rem;
    margin-bottom: 4rem; }

.auth-form-wrapper {
  width: 95%;
  max-width: 30rem;
  margin: 2rem auto 1rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem; }
  .auth-form-wrapper h2 {
    color: white;
    margin-top: 1rem;
    font-weight: 600; }
  .auth-form-wrapper form {
    margin-top: 1rem;
    color: white; }
    .auth-form-wrapper form button[type="submit"] {
      display: block;
      margin: auto;
      padding: 0.5rem 2rem; }

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 0 auto; }
  .btn-google img {
    width: 1.3rem;
    margin-right: 0.5rem; }

.btn-redirect {
  display: block;
  margin: 3rem auto;
  width: 95%;
  max-width: 18rem; }

.navbar {
  background: linear-gradient(90deg, #212121 0%, #545454 75%, #b9b8b8 100%);
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between; }
  .navbar .navbar-brand {
    margin: 0 0.5rem;
    padding: 0; }
  .navbar .navbar-toggler {
    margin-left: 0.5rem;
    border-color: white; }
    .navbar .navbar-toggler:focus {
      outline-color: black; }
    .navbar .navbar-toggler img {
      width: 2.5rem; }
  .navbar .searchForm {
    width: 35%; }
  .navbar #navbar-myAccount {
    flex-grow: 0;
    font-size: 1rem; }
    .navbar #navbar-myAccount .avatar {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      background-color: #212121; }
    .navbar #navbar-myAccount .nav-link {
      background-color: #212121;
      color: white;
      border-radius: 0.5rem;
      margin: 0 1rem; }
      .navbar #navbar-myAccount .nav-link:hover {
        background-color: #313131;
        border-color: #313131; }
      .navbar #navbar-myAccount .nav-link img {
        width: 1.5rem;
        margin-right: 0.5rem; }
      .navbar #navbar-myAccount .nav-link div {
        background-color: #ff5722;
        width: 1.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", Helvetica, sans-serif; }
    .navbar #navbar-myAccount .chat-link img {
      background-color: transparent;
      border-radius: 0;
      margin-right: 1rem; }
    .navbar #navbar-myAccount .typicBtn {
      border: none;
      padding: 0.5rem;
      margin-left: 2rem; }
      .navbar #navbar-myAccount .typicBtn img {
        width: 1.5rem;
        margin-left: 0.5rem;
        vertical-align: bottom; }
  .navbar #navbar-categories {
    justify-content: center;
    width: 100%;
    background-color: #060606;
    padding: 0.25rem 0;
    overflow: hidden; }
    .navbar #navbar-categories .navbar-nav {
      height: 2rem; }
      .navbar #navbar-categories .navbar-nav .nav-link {
        font-size: 1.25rem;
        border-left: 3px solid #b30404;
        margin: 0;
        padding: 0 4rem 0 0.55rem;
        transition: all 0.5s; }
        .navbar #navbar-categories .navbar-nav .nav-link.activeLink {
          color: white;
          font-style: italic;
          border-radius: 0.4rem 0 0 0;
          border-width: 7px; }
        .navbar #navbar-categories .navbar-nav .nav-link:hover {
          color: white;
          border-color: rgba(179, 4, 4, 0); }
          .navbar #navbar-categories .navbar-nav .nav-link:hover::after {
            width: 150%; }
        .navbar #navbar-categories .navbar-nav .nav-link::after {
          display: block;
          content: " ";
          width: 0;
          height: 3px;
          background-image: linear-gradient(90deg, #b30404, rgba(179, 4, 4, 0));
          transition: all 0.5s ease; }
  @media (max-width: 991px) {
    .navbar #navbar-categories .navbar-nav {
      animation-name: fadeInDown;
      height: auto; }
      .navbar #navbar-categories .navbar-nav .nav-link {
        font-size: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0; } }
  @media (max-width: 767px) {
    .navbar .navbar-brand {
      order: 2; }
      .navbar .navbar-brand img {
        height: 65px; }
    .navbar .navbar-toggler {
      order: 1; }
    .navbar .navbar-collapse {
      order: 4; }
    .navbar .cartWidget {
      order: 3; }
    .navbar .searchForm {
      order: 5;
      width: 100%; }
    .navbar #navbar-myAccount {
      text-align: center;
      background-color: #b30404;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0.2rem 1rem; }
      .navbar #navbar-myAccount > .btn,
      .navbar #navbar-myAccount > .nav-link {
        display: inline-block; }
      .navbar #navbar-myAccount .typicBtn {
        background-color: #832024; }
    .navbar #navbar-categories .navbar-nav .nav-link {
      margin-left: 0.5rem;
      padding-bottom: 0.25rem; }
      .navbar #navbar-categories .navbar-nav .nav-link:hover::after {
        width: 15rem; } }
  @media (max-width: 575px) {
    .navbar #navbar-myAccount .typicBtn {
      display: block;
      margin: auto;
      margin-top: 1rem; } }

header.not-logged .navbar {
  justify-content: center; }

header.admin .navbar #navbar-myAccount .cart-admin img {
  margin: 0 3rem;
  width: 3rem; }

header.admin .navbar #navbar-myAccount .products-admin img {
  margin: 0 3rem;
  width: 3rem; }

header.admin .navbar #navbar-myAccount .chat-link img {
  margin-right: 0; }

header.admin .navbar #navbar-myAccount .typicBtn {
  display: none; }

header.admin .navbar .typicBtn {
  border: none;
  padding: 0.5rem;
  margin-right: 1rem; }
  header.admin .navbar .typicBtn img {
    width: 1.5rem;
    margin-left: 0.5rem;
    vertical-align: bottom; }

@media (max-width: 767px) {
  header.admin .navbar .navbar-toggler {
    order: 3;
    margin-right: 0.5rem; }
  header.admin .navbar #navbar-myAccount .typicBtn {
    display: block;
    margin: auto;
    margin-top: 1rem; }
  header.admin .navbar .typicBtn {
    display: none; } }

.cartWidget {
  position: relative;
  padding-bottom: 0; }
  .cartWidget .itemsQuantity {
    position: absolute;
    top: -10px;
    left: 22px;
    background-color: red;
    width: 2rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: 1rem;
    animation-duration: 0.5s;
    transition: opacity 0.5s; }
    .cartWidget .itemsQuantity.hidden {
      opacity: 0; }

.mensajesEmergentes {
  position: absolute;
  display: none;
  width: 50%;
  max-width: 400px;
  min-height: 7rem;
  background-color: #435541c0;
  right: 0;
  top: 100%;
  margin-right: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  color: white;
  text-shadow: #212121 1px 1px;
  font-size: 1.25rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1000; }
  .mensajesEmergentes.show {
    opacity: 1;
    display: flex;
    animation-name: emerge;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    .mensajesEmergentes.show.destacado {
      background-color: #b30404b0; }
  .mensajesEmergentes button.btn-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    outline: none;
    color: white;
    opacity: 1;
    height: 5px;
    width: 5px; }

/*** Fotogramas de animación emerge ***/
@keyframes emerge {
  0% {
    top: -150%;
    opacity: 0; }
  50% {
    top: 100%;
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.successRegister {
  margin: 1rem auto 0 auto;
  padding: 2rem;
  border-radius: 1rem; }

.successRegister {
  padding: 0.5rem; }

.successRegister .btn-close {
  top: unset; }

.carousel {
  background-color: #212121; }
  .carousel img {
    object-fit: cover; }
  .carousel .carousel-caption {
    top: 20px;
    bottom: auto;
    left: 12%;
    right: auto;
    text-shadow: 1px 1px #545454; }
  @media (max-width: 991px) {
    .carousel img {
      min-height: 35vw; }
    .carousel .carousel-item:nth-child(2) img {
      object-position: 80%; }
    .carousel .carousel-caption {
      display: none; } }
  @media (max-width: 767px) {
    .carousel .carousel-indicators {
      display: none; } }

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: white;
  min-height: 6vw;
  align-items: center; }
  .brands a {
    width: 10%;
    text-align: center; }
  .brands img {
    width: 100%;
    max-width: 160px; }
  @media (max-width: 991px) {
    .brands a {
      flex: 25%; }
    .brands img {
      max-width: 110px; } }
  @media (max-width: 575px) {
    .brands img {
      max-width: 65%; } }

.pictureHeader {
  display: none;
  position: relative; }
  .pictureHeader.bicicletas, .pictureHeader.accesorios, .pictureHeader.componentes, .pictureHeader.equipamiento, .pictureHeader.indumentaria {
    height: 26vw;
    background-color: #212121;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 5rem;
    background-size: 100%;
    display: flex;
    justify-content: initial;
    align-items: center; }
    .pictureHeader.bicicletas h1, .pictureHeader.accesorios h1, .pictureHeader.componentes h1, .pictureHeader.equipamiento h1, .pictureHeader.indumentaria h1 {
      padding-left: 3rem;
      font-style: italic;
      color: #fff;
      text-shadow: 1px 1px 5px #212121; }
  .pictureHeader.bicicletas {
    background-image: url("/img/plp-banner_bici.jpg"); }
  .pictureHeader.componentes {
    background-image: url("/img/plp-banner_comp.jpg"); }
  .pictureHeader.accesorios {
    background-image: url("/img/plp-banner_acc.jpg"); }
  .pictureHeader.equipamiento {
    background-image: url("/img/plp-banner_equip.jpg"); }
  .pictureHeader.indumentaria {
    background-image: url("/img/plp-banner_Indu.jpg"); }
  .pictureHeader .gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: linear-gradient(to top, #545454a4 0%, #545454ab 5%, #54545485 15%, transparent 40%); }
  @media (max-width: 1199px) {
    .pictureHeader.bicicletas, .pictureHeader.accesorios, .pictureHeader.componentes, .pictureHeader.equipamiento, .pictureHeader.indumentaria {
      height: 35vw;
      background-position: 70% 5rem;
      background-size: 150%; }
    .pictureHeader.componentes {
      background-position: 20% 5rem; }
    .pictureHeader.accesorios {
      background-position: 20% 5rem; }
    .pictureHeader.indumentaria {
      background-position: 40% 5rem; } }
  @media (max-width: 767px) {
    .pictureHeader.bicicletas, .pictureHeader.accesorios, .pictureHeader.componentes, .pictureHeader.equipamiento, .pictureHeader.indumentaria {
      height: 45vw;
      background-attachment: initial;
      background-position: 70% center;
      background-size: 180%;
      transition: none; }
      .pictureHeader.bicicletas h1, .pictureHeader.accesorios h1, .pictureHeader.componentes h1, .pictureHeader.equipamiento h1, .pictureHeader.indumentaria h1 {
        font-size: 2rem;
        padding-left: 1rem; }
    .pictureHeader.componentes {
      background-position: 30% center; }
    .pictureHeader.accesorios {
      background-position: 20% center; }
    .pictureHeader.indumentaria {
      background-position: 40% center; } }
  @media (max-width: 575px) {
    .pictureHeader.bicicletas, .pictureHeader.accesorios, .pictureHeader.componentes, .pictureHeader.equipamiento, .pictureHeader.indumentaria {
      height: 55vw;
      background-size: 220%; } }

.emptyCart {
  color: black;
  background-color: #dbdbdb;
  border-radius: 0.25rem;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 33rem;
  max-width: 60rem;
  width: 95%; }
  .emptyCart img {
    display: block;
    width: 6rem;
    margin-bottom: 2rem; }
  .emptyCart h2,
  .emptyCart h4,
  .emptyCart p {
    width: 100%; }
  .emptyCart h2 {
    letter-spacing: 0.2em;
    font-weight: 800; }
  .emptyCart h4 {
    margin-top: 1.5rem;
    font-size: 1.2rem; }
  .emptyCart div:last-child {
    width: 50%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/img/cyclist_shadow.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; }
    .emptyCart div:last-child a {
      color: white;
      text-decoration: none;
      background-color: rgba(33, 33, 33, 0.85);
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-weight: bold; }
      .emptyCart div:last-child a:hover {
        background-color: #212121; }
  .emptyCart.animate__fadeIn {
    animation-duration: 2s; }
  @media (max-width: 767px) {
    .emptyCart img {
      width: 5rem; }
    .emptyCart h2 {
      font-size: 1.5rem; }
    .emptyCart h4 {
      font-size: 1rem; } }

#modalTerminos .modal-content {
  background-color: #b9b8b8; }
  #modalTerminos .modal-content .modal-header h2 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem; }
  #modalTerminos .modal-content .modal-body {
    padding: 0; }
    #modalTerminos .modal-content .modal-body .imagenTerminos {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("/img/terminos.jpg");
      background-position: top;
      height: 35vw; }
    #modalTerminos .modal-content .modal-body article.terminos {
      width: 75%;
      margin: auto;
      background-color: #545454;
      text-align: center;
      padding: 1.5vh 3vw;
      color: white; }
      #modalTerminos .modal-content .modal-body article.terminos ol {
        padding: 0 3rem; }
      #modalTerminos .modal-content .modal-body article.terminos p {
        padding: 1rem;
        text-align: justify; }

@media (max-width: 991px) {
  #modalTerminos .modal-content .modal-body article.terminos {
    width: 100%;
    padding: 0.5vh 1vw; } }

.newsletter {
  width: 50%; }
  .newsletter form {
    padding-top: 0.9rem; }
    .newsletter form .input-group {
      width: 70%;
      margin: auto;
      margin-bottom: 1rem; }
      .newsletter form .input-group input[type="email"] {
        height: 2rem; }
  @media (max-width: 991px) {
    .newsletter {
      order: -1;
      width: 100%;
      padding-bottom: 2vh; }
      .newsletter .newsletter__titulo {
        font-size: 1rem; }
      .newsletter form .input-group {
        width: 55%; } }
  @media (max-width: 575px) {
    .newsletter form .input-group {
      width: 80%; } }
  @media (max-width: 500px) {
    .newsletter form .custom-control-label {
      width: 85%; } }

/********************** Redes sociales *************************/
/****** se uso grid para acomodar los iconos y el título *******/
.social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 25%;
  align-items: start;
  justify-items: center; }
  .social :nth-child(1) {
    grid-area: 1 / 1 / 2 / 5; }
  .social :nth-child(2) {
    grid-area: 2 / 1 / 3 / 2; }
  .social :nth-child(3) {
    grid-area: 2 / 2 / 3 / 3; }
  .social :nth-child(4) {
    grid-area: 2 / 3 / 3 / 4; }
  .social :nth-child(5) {
    grid-area: 2 / 4 / 3 / 5; }
  .social img {
    width: 2.5rem; }
  @media (max-width: 991px) {
    .social {
      width: 50%; }
      .social .social__titulo {
        font-size: 1rem; } }
  @media (max-width: 575px) {
    .social {
      width: 100%;
      grid-template-rows: repeat(2, 1fr); }
      .social img {
        width: 30px; } }

/************************* Redes - Fin *************************/
/***************************************************************/
