* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #212529;
  color: white;
}
main.cargar {
  text-align: center;
}
.form-wrapper {
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
}
.form-wrapper h2 {
  color: white;
  margin-top: 1rem;
}
.form-wrapper form {
  margin-top: 1rem;
  color: white;
}
.form-wrapper form button[type="submit"] {
  display: block;
  margin: auto;
  padding: 0.5rem 2rem;
}
main.listado {
  text-align: center;
}
main.listado h2 {
  color: white;
  margin-top: 1rem;
}
.table {
  width: 95%;
  max-width: 50rem;
  margin: 1rem auto;
  vertical-align: middle;
  text-align: center;
}
.table thead th:first-child {
  width: 10%;
}
.table thead th:nth-child(2) {
  width: 50%;
  text-align: left;
}
.table thead th:nth-child(3) {
  width: 20%;
}
.table thead th:last-child {
  width: 20%;
}
.table tbody td:nth-child(2) {
  text-align: left;
}
.table .table__image {
  width: 50%;
}
#tableErrors {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: auto;
  background-color: rgb(255, 138, 71);
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
#tableErrors.show {
  opacity: 1;
}
