.loaderMask {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1000;
    background-color: #54545485;
    background-image: url("/img/ball-triangle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 6rem;
    animation-name: fadeIn;
    animation-duration: 1s;
  }
}
