.navbar {
  background: linear-gradient(
    90deg,
    rgba(33, 33, 33, 1) 0%,
    rgba(84, 84, 84, 1) 75%,
    rgba(185, 184, 184, 1) 100%
  );
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  .navbar-brand {
    margin: 0 0.5rem;
    padding: 0;
  }

  .navbar-toggler {
    margin-left: 0.5rem;
    border-color: white;
    &:focus {
      outline-color: black;
    }
    img {
      width: 2.5rem;
    }
  }

  .searchForm {
    width: 35%;
  }

  #navbar-myAccount {
    flex-grow: 0;
    font-size: 1rem;
    .avatar {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      border-radius: 50%;
      background-color: $tonoOscuro;
    }
    .nav-link {
      background-color: $tonoOscuro;
      color: white;
      border-radius: 0.5rem;
      margin: 0 1rem;
      &:hover {
        background-color: #313131;
        border-color: #313131;
      }
      img {
        width: 1.5rem;
        margin-right: 0.5rem;
      }
      div {
        background-color: #ff5722;
        width: 1.5rem;
        margin-right: 0.5rem;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-family: $fuente-principal;
      }
    }
    .chat-link {
      img {
        background-color: transparent;
        border-radius: 0;
        margin-right: 1rem;
      }
    }
    .typicBtn {
      border: none;
      padding: 0.5rem;
      img {
        width: 1.5rem;
        margin-left: 0.5rem;
        vertical-align: bottom;
      }
    }
  }

  #navbar-categories {
    justify-content: center;
    width: 100%;
    background-color: $tonoMuyOscuro;
    padding: 0.25rem 0;
    overflow: hidden;

    .navbar-nav {
      height: 2rem;

      .nav-link {
        font-size: 1.25rem;
        border-left: 3px solid $rojoMarca;
        margin: 0;
        padding: 0 4rem 0 0.55rem;
        transition: all 0.5s;

        &.activeLink {
          color: white;
          font-style: italic;
          border-radius: 0.4rem 0 0 0;
          border-width: 7px;
        }

        &:hover {
          color: white;
          border-color: rgba($rojoMarca, 0);

          &::after {
            width: 150%;
          }
        }

        &::after {
          display: block;
          content: " ";
          width: 0;
          height: 3px;
          background-image: linear-gradient(
            90deg,
            rgba($rojoMarca, 1),
            rgba($rojoMarca, 0)
          );
          transition: all 0.5s ease;
        }
      }
    }
  }

  @media (max-width: $lg) {
    #navbar-categories {
      .navbar-nav {
        animation-name: fadeInDown;
        height: auto;
        .nav-link {
          font-size: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0;
        }
      }
    }
  }

  @media (max-width: $md) {
    .navbar-brand {
      order: 2;
      img {
        height: 65px;
      }
    }

    .navbar-toggler {
      order: 1;
    }

    .navbar-collapse {
      order: 4;
    }

    .cartWidget {
      order: 3;
    }

    .searchForm {
      order: 5;
      width: 100%;
    }

    #navbar-myAccount {
      text-align: center;
      background-color: $rojoMarca;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      padding: 0.2rem 1rem;
      > .btn,
      > .nav-link {
        display: inline-block;
      }
      .typicBtn {
        background-color: #832024;
      }
    }

    #navbar-categories {
      .navbar-nav {
        .nav-link {
          margin-left: 0.5rem;
          padding-bottom: 0.25rem;

          &:hover {
            &::after {
              width: 15rem;
            }
          }
        }
      }
    }
  }
}

header.not-logged .navbar {
  justify-content: center;
}
