.newsletter {
  width: 50%;
  .newsletter__titulo {
    @extend %fondoOscuro;
    @extend %tituloFooter;
  }
  form {
    padding-top: 0.9rem;
    .input-group {
      width: 70%;
      margin: auto;
      margin-bottom: 1rem;
      input {
        &[type="email"] {
          height: 2rem;
        }
        &[type="submit"] {
          @extend %botonFormulario;
        }
      }
    }
  }
  @media (max-width: $lg) {
    order: -1;
    width: 100%;
    padding-bottom: 2vh;
    .newsletter__titulo {
      font-size: 1rem;
    }
    form {
      .input-group {
        width: 55%;
      }
    }
  }
  @media (max-width: $sm) {
    form {
      .input-group {
        width: 80%;
      }
    }
  }
  @media (max-width: 500px) {
    form {
      .custom-control-label {
        width: 85%;
      }
    }
  }
}
