.cartManage {
  width: 95%;
  max-width: 60rem;
  margin: 1rem auto 2rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
  text-align: center;
  h2 {
    margin-top: 1rem;
  }
  #btnCreateCart {
    margin-top: 1rem;
  }
  .select-wrapper {
    margin-top: 2rem;
    .form-select {
      display: inline-block;
      width: 45%;
      max-width: 15rem;
      margin-right: 1rem;
    }
    #btnDeleteCart {
      opacity: 1;
      transition: 0.5s all ease-in-out;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

#cartInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
#cartInfoMessages.show {
  opacity: 1;
}
#cartInfoMessages.warning {
  background-color: rgb(255, 138, 71);
}
#cartInfoMessages.info {
  background-color: #2f5777;
}

#cartProducts {
  display: none; //Para efecto Jquery cambio inicial
  text-align: center;
  margin-bottom: 2rem;
  .table {
    width: 95%;
    max-width: 50rem;
    margin: 1rem auto;
    vertical-align: middle;
    text-align: center;
    thead {
      th:first-child {
        width: 5%;
      }
      th:nth-child(2) {
        width: 17%;
        text-align: left;
      }
      th:nth-child(3) {
        width: 40%;
        text-align: left;
      }
      th:nth-child(4) {
        width: 15%;
      }
      th:nth-child(5) {
        width: 15%;
      }
      th:last-child {
        width: 8%;
      }
    }
    tbody {
      td:first-child {
        padding: 0;
      }
      td:nth-child(2) {
        padding: 1rem 0;
        .table__image {
          width: 60%;
        }
      }
      td:nth-child(3) {
        text-align: left;
        padding-right: 0.25rem;
        p:last-child {
          margin-top: 1rem;
          display: none;
        }
      }
      td:nth-child(4) {
        .btn-qty-update {
          display: none;
        }
      }
      td:last-child {
        img {
          cursor: pointer;
          max-width: 1.25rem;
        }
      }
    }
  }
  div.bg-yellow {
    background-color: #ffc107d6;
  }
  @media (max-width: $md) {
    .table {
      thead {
        th:first-child,
        th:nth-child(5) {
          display: none;
        }
        th:nth-child(2) {
          width: 10%;
        }
        th:nth-child(3) {
          width: 50%;
        }
        th:nth-child(4) {
          width: 32%;
        }
        th:last-child {
          width: 8%;
        }
      }
      tbody {
        td:first-child,
        td:nth-child(5) {
          display: none;
        }
        td:nth-child(2) {
          .table__image {
            width: 100%;
          }
        }
        td:nth-child(3) {
          p:last-child {
            display: block;
          }
        }
        td:last-child {
          padding: 0;
          img {
            width: 1rem;
            padding: 1rem 0;
          }
        }
      }
    }
  }
}
