.cartManage {
  width: 95%;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #2c3034;
  border-radius: 1rem;
  text-align: center;
  h2 {
    margin-top: 1rem;
  }
  #btnCreateCart {
    margin-top: 1rem;
  }
  .select-wrapper {
    margin-top: 2rem;
    .form-select {
      display: inline-block;
      width: 45%;
      max-width: 15rem;
      margin-right: 1rem;
    }
    #btnDeleteCart {
      opacity: 1;
      transition: 0.5s all ease-in-out;
      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
  @media (max-width: $sm) {
    padding: 1rem;
    .select-wrapper {
      .form-select {
        width: 60%;
      }
    }
  }
}

#cartInfoMessages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 95%;
  max-width: 30rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 0.25rem;
  opacity: 0;
  transition: 0.5s all ease-in-out;
}
#cartInfoMessages.show {
  opacity: 1;
}
#cartInfoMessages.warning {
  background-color: rgb(255, 138, 71);
}
#cartInfoMessages.info {
  background-color: #2f5777;
}

#cartProducts {
  display: none; //Para efecto Jquery cambio inicial
  text-align: center;
  margin-bottom: 2rem;
  h3 {
    margin-bottom: 2rem;
    i {
      font-size: 1.4rem;
      border-radius: 0.25rem;
      border: 1px solid;
      padding: 0.25rem 0.5rem;
      margin-left: 0.5rem;
    }
  }
  .table {
    width: 95%;
    max-width: 50rem;
    margin: 1rem auto;
    vertical-align: middle;
    text-align: center;
    thead {
      th:first-child {
        width: 5%;
      }
      th:nth-child(2) {
        width: 17%;
        text-align: left;
      }
      th:nth-child(3) {
        width: 40%;
        text-align: left;
      }
      th:nth-child(4) {
        width: 15%;
      }
      th:nth-child(5) {
        width: 15%;
      }
      th:last-child {
        width: 8%;
      }
    }
    tbody {
      td:first-child {
        padding: 0;
        font-size: 0.7rem;
      }
      td:nth-child(2) {
        padding: 1rem 0;
        .table__image {
          width: 60%;
          border-radius: 0.25rem;
        }
      }
      td:nth-child(3) {
        text-align: left;
        padding-right: 0.25rem;
        p:last-child {
          margin-top: 1rem;
          display: none;
        }
      }
      td:nth-child(4) {
        .btn-qty-update {
          display: none;
        }
      }
      td:last-child {
        img {
          cursor: pointer;
          max-width: 1.25rem;
        }
      }
    }
  }

  div.bg-yellow {
    background-color: #ffc107d6;
  }

  .actions {
    .btn-dark {
      border: 1px solid white;
      &:hover {
        background-color: $tonoMedio;
      }
    }
  }

  @media (max-width: $md) {
    .table {
      thead {
        th:first-child,
        th:nth-child(5) {
          display: none;
        }
        th:nth-child(2) {
          width: 12%;
        }
        th:nth-child(3) {
          width: 52%;
        }
        th:nth-child(4) {
          width: 28%;
        }
        th:last-child {
          width: 8%;
        }
      }
      tbody {
        td:first-child,
        td:nth-child(5) {
          display: none;
        }
        td:nth-child(2) {
          .table__image {
            width: 100%;
          }
        }
        td:nth-child(3) {
          p:last-child {
            display: block;
          }
        }
        td:nth-child(4) {
          .btn {
            padding: 0.2rem 0.35rem;
          }
          .input-group > .form-control {
            padding: 0.2rem;
          }
        }
        td:last-child {
          padding: 0;
          img {
            width: 1rem;
            padding: 1rem 0;
          }
        }
      }
    }
  }
}

main.userCart {
  #cartProducts {
    .table {
      thead {
        th:first-child {
          display: none;
        }
      }
      tbody {
        td:first-child {
          display: none;
        }
        td:nth-child(2) {
          .table__image {
            transition: all 0.25s ease-in-out;
            &:hover {
              transform: scale(1.05, 1.05);
            }
          }
        }
      }
    }
  }
  a.btn {
    width: fit-content;
    img {
      margin-left: 0.5rem;
      width: 1.5rem;
    }
  }
}

main.adminCarts {
  min-height: 70vh;
  #cartProducts {
    h3 {
      margin-bottom: 0.5rem;
    }
  }
}
