/***************************************************************/
/************************ Footer - Inicio  *********************/
/********************* Flexbox anidados row ********************/
footer {
  .contenidoFooter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: $tonoOscuro;
    color: white;
    height: auto;
    text-align: center;
    padding: 1.5rem 0 1rem 0;

    .info {
      overflow: hidden;
      width: 25%;
      padding: 1em 3vw;

      p:nth-child(2) {
        padding-bottom: 1rem;
      }
    }
  }

  .logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 4rem;
    }
    @media (max-width: $lg) {
      display: none;
    }
  }

  address {
    background-color: $tonoMuyOscuro;
    text-align: center;
    color: white;
    padding: 1.5rem 0.625rem;
    margin-bottom: 0;
    /* para pisar a Bootstrap */
  }

  @media (max-width: $lg) {
    .contenidoFooter {
      flex-wrap: wrap;

      .info {
        width: 50%;
      }
    }
  }

  @media (max-width: $sm) {
    .contenidoFooter {
      .info {
        width: 100%;
        padding-top: 0;

        p:nth-child(1),
        p:nth-child(2) {
          display: none;
        }
      }
    }
  }
}

/************************ Footer - Fin  ************************/
/***************************************************************/
