.showRoom {
  color: black;

  #filtros {
    position: relative;
    background-color: #929aa1;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0;
      height: 2.4rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        padding-left: 1rem;
        img {
          filter: brightness(0.25);
        }
      }
    }

    #cantProductosEncontrados {
      margin-bottom: 0.5rem;
      text-align: center;
      font-weight: 300;
      border: 1px solid #545454;
      border-radius: 0.25rem;
      background-color: #545454;
      color: white;
    }

    h4 {
      text-align: center;
      font-size: 1.1rem;
    }

    .btn {
      display: block;
      width: 100%;
      margin: auto;

      &.ocultar {
        display: none;
      }
    }

    #verMarcas,
    #volverMarcas {
      background-color: #b30404;

      i {
        font-size: 1.15rem;
        margin-left: 0.5rem;
        vertical-align: text-bottom;
      }
    }

    .row {
      label {
        font-weight: 500;
      }

      .form-check {
        transition: all 0.4s;

        label {
          width: 100%;
          padding-left: 0.25rem;
        }

        &.seleccionado {
          background-color: #b30404a3;
          color: white;
          border-radius: 0.25rem;
          padding-left: 2rem;
          &.only {
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
        }

        &:not(.seleccionado):not(:nth-of-type(7)):hover {
          padding-left: 2rem;
          color: #b30404;
        }
      }

      .form-group {
        text-align: center;

        label {
          margin-bottom: 0;
        }

        input[type="text"] {
          height: 1.7rem;
          max-width: 8rem;
          margin: auto;
          background-color: #545454;
          color: white;
        }
      }
    }

    #marcas {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 0.5rem;
      background-color: #545454;
      color: white;
      font-size: 0.9rem;
      height: 100%;
      width: 100%;
      border-radius: 0.25rem;
      border: 3px solid #545454;
      z-index: 1000;
      display: none;
      overflow-y: auto;

      .form-check {
        margin-bottom: 0.5rem;

        label {
          vertical-align: middle;
        }
      }
    }

    @media (max-width: $sm) {
      h3 {
        cursor: pointer;
      }

      #contenedorFiltros {
        display: none;

        .form-check {
          width: 70%;
          margin: auto;

          label {
            padding-left: 0.5rem;
          }
        }

        .btn {
          width: 70%;
        }
      }

      #marcas {
        .form-check {
          margin-bottom: 0.5rem;

          label {
            vertical-align: sub;
          }
        }
      }
    }
  }

  .colProductos {
    .buscarOrdenar {
      background-color: #929aa1;
      border-radius: 0.25rem;
      padding: 0.5rem 1rem;

      .form-inline {
        #inputBuscar {
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
        }

        #btnBuscar {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          img {
            width: 1.1rem;
          }
        }

        #selectOrdenar {
          width: 25%;

          @media (max-width: $md) {
            width: 35%;
          }
        }
      }
    }

    #contenedorProductos {
      max-height: 75vh;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: #2c3034;
      margin: 1rem 0 1.5rem 0;
      padding-top: 0.5rem;
      border: 3px solid #2c3034;
      border-radius: 0.25rem;
      min-height: 33rem;

      .loader {
        height: 33rem;
        background-image: url("/img/puff.svg");
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #2c3034;
        color: white;
        border-radius: 0.25rem;
        margin: 1.5rem 0;
        padding: 2rem;
        text-align: center;
        margin: auto;
        flex: 0 0 80%;
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 2rem;

        h3 {
          width: 100%;
          margin-bottom: 2rem;
        }

        p {
          font-size: 1.25rem;
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }

      .card {
        .idBadge {
          position: absolute;
          top: 0.25rem;
          left: 0.25rem;
          width: auto;
          min-width: 5rem;
          background-color: #6d8fad;
          font-style: italic;
        }
        .descuento {
          position: absolute;
          width: 3.5rem;
          height: 3rem;
          top: 0;
          right: 0;
          background-color: #b30404;
          border-radius: 40% 0% 40% 0%;
          color: white;
          font-weight: 700;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .card-img-top {
          width: 70%;
          height: 100%;
          object-fit: contain;
          margin: auto;
        }

        .card-body p:nth-of-type(1) {
          padding-bottom: 6.25rem;
        }

        .card-body p:nth-of-type(2) {
          position: absolute;
          bottom: 5rem;

          b {
            font-size: 1.1rem;
            color: #b30404;
          }

          del {
            color: #545454;
            margin-left: 0.1rem;
            font-size: 0.95rem;
          }
        }

        .card-body p:nth-of-type(3) {
          position: absolute;
          width: 100%;
          bottom: 3.5rem;
        }

        .card-body > *:last-child {
          position: absolute;
          width: 100%;
          bottom: 1.25rem;
        }

        .btn {
          font-weight: 500;
          transition: all 0.3s;

          &:hover:not([disabled]) {
            transform: scale(1.04, 1.04);
          }

          &[disabled] {
            width: 88%;
            left: 6%;
            right: 6%;
            background-color: #545454;
            border-color: #545454;
          }
        }

        .inputCantidad {
          width: 40%;
          max-width: 5rem;
        }
      }

      .errorResultadoBuscar {
        color: white;
        background-color: #2c3034;
        border-radius: 0.25rem;
        margin: 1.5rem 0;
        text-align: center;
        margin: auto;
        flex: 0 0 80%;
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        i {
          color: red;
          display: block;
          margin-bottom: 1rem;
        }

        i,
        h3,
        p {
          width: 100%;
        }
      }

      &::-webkit-scrollbar {
        -webkit-appearance: none;
      }
      &::-webkit-scrollbar:vertical {
        width: 0.5rem;
      }
      &::-webkit-scrollbar-button:increment,
      &::-webkit-scrollbar-button {
        display: none;
      }
      &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 20px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: darkgrey;
      }
    }

    @media (max-width: $sm) {
      padding-left: 0;
      padding-right: 0;

      #contenedorProductos {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }
  }
}
