<h2>PRODUCTOS CARGADOS</h2>
<% if (list.length) { %>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Título</th>
      <th scope="col">Precio</th>
      <th scope="col">Imágen</th>
    </tr>
  </thead>
  <tbody>
    <% list.forEach(product => { %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.title %></td>
      <td>$<%= product.price %></td>
      <td><img class="table__image" src=<%= product.thumbnail %> alt="producto" /></td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<div class="container p-5 mb-4 bg-warning rounded-3">
  <div class="py-5">
    <h3 class="display-6 fw-bold">¡Oops!, listado vacío</h1>
      <p>No se encontraron productos cargados.</p>
  </div>
</div>
<% } %>
<a href="/" class="btn btn-success">CARGAR PRODUCTOS</a>